# Restricciones de rango de los datos.

En esta sección, vamos a hablar sobre los datos que debereian de estar dentro de un rango.

¿Cómo tratamos con el rango de nuestros datos?

Hay muchas opciones para hacer esto, podemos eliminarlos, sin embargo dependendo del tamaño de nuestros datos fuera de rango, podriamos estar perdiendo infromación esencial.

Como regla genreal, solo eliminemos datos cuando una pequeña proporción de nuestro conjunto de datos se ve afectado por los valores de rango, isn embargo realmente necesitamos comprender nuestro conjunto de datos antes de decidir eliminar valores.

Otra opción sería establecer mínimos o máximos personalzados para nuestras columnas.


También podríamos configurar los datos como faltantes y eliminarlos, pero mas adelante vermos esto.

También podriamos , dependiendo de los suspuestos comerciales detrás de  nuestos datos asignar un valor personalizado para cualquier valor de nuestros datos, ya que va mas alla de un cierto rango.

Dependiendo de los supuestos detras de nuestros datos, también podemos cambiar los valores fuera de rango a un limite estricto.

A continuación veremos algunos emplos sobre como tratar con todo esto:

Restricciones para el tamaño de los neumaticos.

En este ejemplo , nos basaremos en el trabajo que hemos estado haciendo con el DataFrame de ride_sharing. Trabajaremos con la columna tire_sizes, que contiene datos sobre el tamaño de los neumáticos de cada bicicleta.

PROBLEMA:

Los tamaños de los neumáticos de las bicicletas pueden ser **26 ″, 27 ″ o 29** ″ y aquí se almacenan correctamente como un valor categórico. En un esfuerzo por reducir los costos de mantenimiento, el proveedor de viajes compartidos decidió establecer el tamaño máximo de los neumáticos en 27 ″.

En este ejemplo, nos aseguraremos de que la columna de tamaños de llantas tenga el rango correcto convirtiéndola primero en un número entero, luego estableciendo y probando el nuevo límite superior de 27 ″ para los tamaños de llantas.


PASOS:

* Convertir la columna `tyre_size` de categorica a numerica.

In [2]:
import pandas as pd

ride_sharing = pd.read_csv("/content/ride_sharing_new.csv")

In [3]:
ride_sharing.head()

   Unnamed: 0    duration  station_A_id  ... user_type  user_birth_year user_gender
0           0  12 minutes            81  ...         2             1959        Male
1           1  24 minutes             3  ...         2             1965        Male
2           2   8 minutes            67  ...         3             1993        Male
3           3   4 minutes            16  ...         1             1979        Male
4           4  11 minutes            22  ...         2             1994        Male

[5 rows x 10 columns]

In [ ]:
# Convertir a tipo numerico

ride_sharing['tire_sizes'] = ride_sharing['tire_sizes'].astype('int')

* Usaremos `.loc[]` para establecer todos los valores de `tire_sizes` por encima de 27 a 27.

In [ ]:
ride_sharing.loc[ride_sharing['tire_sizes'] > 27, 'tire_sizes'] = 27

* Reeconvertimos nuestros datos  a categoricos.

In [ ]:

ride_sharing['tire_sizes'] = ride_sharing['tire_sizes'].astype('category')

* Imprimirmos la descripcion de nuestros datos.

In [ ]:
print(ride_sharing['tire_sizes'].describe())