<center>

![](https://raw.githubusercontent.com/Chilangdon20/PYTHON/master/Curso%20Basico/CursoExpress/Imagenes/Padas.jpg)



</center>

# Importando Archivos Planos Usando Pandas

## Introducción:

Si bien los archivos son increiblemente potentes y cumplen una serie de propósitos aesenciales,no pueden cumplir una de las necesidades más básicas de un cientifico de datos:Tener 2 estructuras de datos etiquetadas tridimensionales con columnas de tipos potencialmente diferentes, en lo que se puede realizar fácilmente una gran cantidad de cosas que hacemos los cientificos de datos como son:

* Manipular
* Dividir
* Agrupar
* Unir
* Fusionar
* Realizar estadísticas de una manera amigable con los valores perdidos.
* Lidiar con series de tiempo

Todo este tipo de actividades y mas motivo a [Wes Mckinney](https://wesmckinney.com/https://wesmckinney.com/) a crear la biblioteca Pandas.Python ha sido bueno durante mucho tiempo  para la *mezcla* y *preparacion de datos* pero no para el análisis y modelado de datos.

Pandas ayuda a llenar ese vacio, permitiendonos llevar a cabo todo el análisis de datos en Python , sin tener que cambiar a un lenguaje de dominio mas especifico como *R*.


La estructura de datos más relevante para el flujo de trabajo de análisis y manipulación de datos que ofrece pandas es el **DataFrame**, y es el análogo Pythonico del DataFrame de R.

La manipulación de DataFrame en Pandas puede ser muy util en todos los pasos de  un metodo para cientifico de datos, desde análisis de datos exploratorios hasta disputas de datos, preprocesamiento , construcción de modelos y visualización.


Aqui veremos su gran utilidad en la immportación de archivos planos , incluso simplemente en la forma en que tratamos con datos faltantes, comentarios junto con muchos otros problemas que afectan a los cientifico de datos.

## ¿Cómo usarlo?

Para usar pandas primero debemos importarlo:

In [1]:
import pandas as pd

Despues, si deseamos importar un CSV en el caso más básico , todo lo que tenemos que hacer es llamara a la función `read_csv` proporcionando un único argumento , que sera el nombre de nuestro archivo.

In [2]:
filename = '/content/sample_data/california_housing_train.csv'
data = pd.read_csv(filename)

Habiendo asignado el DataFrame , podemos verifricar las 5 primeras filas, incluido el encabezado con el comando `.head()`

In [3]:
data.head()

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0
3    -114.57     33.64  ...         3.1917             73400.0
4    -114.57     33.57  ...         1.9250             65500.0

[5 rows x 9 columns]

También podemos convertir facilmente el DataFrame en una matriz NumPy llamando a `.values`

In [4]:
data_np = data.values
data_np

array([[-1.1431e+02,  3.4190e+01,  1.5000e+01, ...,  4.7200e+02,
         1.4936e+00,  6.6900e+04],
       [-1.1447e+02,  3.4400e+01,  1.9000e+01, ...,  4.6300e+02,
         1.8200e+00,  8.0100e+04],
       [-1.1456e+02,  3.3690e+01,  1.7000e+01, ...,  1.1700e+02,
         1.6509e+00,  8.5700e+04],
       ...,
       [-1.2430e+02,  4.1840e+01,  1.7000e+01, ...,  4.5600e+02,
         3.0313e+00,  1.0360e+05],
       [-1.2430e+02,  4.1800e+01,  1.9000e+01, ...,  4.7800e+02,
         1.9797e+00,  8.5800e+04],
       [-1.2435e+02,  4.0540e+01,  5.2000e+01, ...,  2.7000e+02,
         3.0147e+00,  9.4600e+04]])

### EXTRA.

Como beneficio adicional, es sencillo recuperar la matriz numpy correspondiente utilizando los valores de los atributos. Ahora lo haremos utilizando el conjunto de datos MNIST.

In [5]:
# Asigna nuestra ruta de archivo a una variable
file = 'https://assets.datacamp.com/production/repositories/487/datasets/d6d1b84ef06151ff913b4173e2eca8e6d5fa959b/mnist_kaggle_some_rows.csv'

Es importante saber que este DataFrame no tiene en cabezado y solo queremos las 10 primeras filas por lo que debemos poner mas argumentos.

In [6]:
# Asigna datos a una variable con argumentos extras.
data = pd.read_csv(file,nrows=10,header=None)

Ahora queremos pasar nuestro Pandas DataFrame a una matriz NumPy.

In [7]:
data_np = data.values

Por ultimo imprimimos el tipo de nuestro `data_np`

In [8]:
print(type(data_np))

<class 'numpy.ndarray'>

El paquete pandas también es excelente para tratar muchos de los problemas que encontrarás al importar datos como científico de datos, como los comentarios que se producen en archivos planos, líneas vacías y valores faltantes. Ten en cuenta que los valores faltantes también se conocen comúnmente como NA o NaN.

In [9]:
data = pd.read_csv(file, sep='\t', comment='#', na_values=['Nothing'])

ARGUMENTOS:

* `sep` - Sirve para indicar como estan separados nuestros datos, en este caso es por tabuladores por lo que indicamos `'\t'`.

* `comment` - Sirve para indicar si hay comentarios en nuestro DataFrame en este caso los hay y estan señalados como `#`.

* `n_values` - Sirve para indicar si hay valores NaN en este caso no los hay y ponemos `'Nothing'`

## Conclusión:

Hemos visto diferentes formas de leer , imprmir e importar archivos planos, como cientifico de datos con mayor frecuecnia desearemos usar pandas, sin embargo es importante hechar un vistazo a todas las formas posbioes de importar , por que nunca sabemos cuando serán utiles.En los proximos Notebooks veremos cuán útil puede ser Pandas al importar otra variedad de archivos.