# Cocinando nuestos datos üë®üèΩ‚Äçüç≥.

Ahora que hemos hecho un an√°lisis y tenemos una mejor comprensi√≥n de nuestro conjunto de datos. es hora de preprocesarlos en preparaci√≥n para el modelo.

Recordemos que muchos modelos de Machine Learning hacen ciertas suposiciones sobre c√≥mo estan distribuidos nuestros datos.

Si las caracter√≠sticas de nuestro conjunto de datos no complen con las suposiciones que hace el modelo de ML, los resultados no seran del todo confiables.Es por eso que la etapa de preprocesamiento de datos es tan cr√≠tica e importante.

Muchos modelos de Machine Learning solo aceptan tipos de dato numericos, por lo que si alguna de nuestras caracter√≠sticas es categ√≥rica , primero debemos transformarlas a numerica.

Podemos ver los tipos de datos en nuestro dataframe utilizando el atributo `dtype`

In [34]:
import pandas as pd


#-- Leer archivo
data_phones = pd.read_csv('/content/Churn.csv')

#-- tiops de datos
data_phones.dtypes

Account_Length      int64
Vmail_Message       int64
Day_Mins          float64
Eve_Mins          float64
Night_Mins        float64
Intl_Mins         float64
CustServ_Calls      int64
Churn              object
Intl_Plan          object
Vmail_Plan         object
Day_Calls           int64
Day_Charge        float64
Eve_Calls           int64
Eve_Charge        float64
Night_Calls         int64
Night_Charge      float64
Intl_Calls          int64
Intl_Charge       float64
State              object
Area_Code           int64
Phone              object
dtype: object

Recordemos que `int64`y `float` son tipos de dato num√©tricos como `Int_Calls` e `Eve_Charge`, mientras que cualquier columna que incluya texto , como `State` se codifica como un objeto o una cadena de texto (String).

Algunas caracteristicas que tienen el tipo de dato objeto como `Int1_Plan` , que tiene dos valores posibles `yes`& `no`.

In [ ]:
data_phones['Intl_Plan'].head()

0     no
1     no
2     no
3    yes
4    yes
Name: Intl_Plan, dtype: object

Pero , como podriamos pasar estas variables categoricas a numericas, bueno pues simple, podemos codificar 0-`no` & 1-`yes`y lo haremos utilizando `replace()`

In [ ]:
data_phones['Intl_Plan'] = data_phones['Intl_Plan'].replace({'no':0,'yes':1})

data_phones['Intl_Plan'].head()

0    0
1    0
2    0
3    1
4    1
Name: Intl_Plan, dtype: int64

o tambi√©n podemos usar `LabelEncoder()`.

In [ ]:
from sklearn.preprocessing import LabelEncoder
data_phones['Intl_Plan'] = LabelEncoder().fit_transform(data_phones['Intl_Plan'])
data_phones['Intl_Plan'].head()

0    0
1    0
2    0
3    1
4    1
Name: Intl_Plan, dtype: int64

Verificamos que los datos esten actualizados.

In [ ]:
data_phones.dtypes

Account_Length      int64
Vmail_Message       int64
Day_Mins          float64
Eve_Mins          float64
Night_Mins        float64
Intl_Mins         float64
CustServ_Calls      int64
Churn              object
Intl_Plan           int64
Vmail_Plan         object
Day_Calls           int64
Day_Charge        float64
Eve_Calls           int64
Eve_Charge        float64
Night_Calls         int64
Night_Charge      float64
Intl_Calls          int64
Intl_Charge       float64
State              object
Area_Code           int64
Phone              object
dtype: object

La columna `state`por otro lado es un poco m√°s compleja de representar numericamente por que hay muchos estados.

In [ ]:
n= 4
data_phones['State'].sample(n)

648     WI
2943    KS
1614    MT
1933    PA
Name: State, dtype: object

Podr√≠amos asignar un n√∫mero a cada estado:

* 0 para Kansas.
* 1 para Ohio.
* 2 para new Jersey
* Etc.

Pero hacer esto es peligroso , ya que implica alguna forma de ordenar los estados, esto tendria sentido para una columna que tuviese categorias como 'low','median','high' pero en nuestro caso no es asi , no tiene ningun sentido y har√≠a que nuestro futuro modelo sea menos efectivo.


Podemos codificarlos utilizando la codificaci√≥n activa , esta crea nuevas caracteristicas binarias correspondientes a qu√© estado pertenece un cliente determinado, cada fila del DataFrame tendra un 1 en exactamente una columna de estado y cero en todas las demas columnas de `state`.

Al hacerlo nuestro modelo puede usar la informaci√≥n acerca de a qu√© estado pertenece un cliente , sin hacerlo erroneamente.


Otro paso importanto de preprocesamiento es el escalado de caracter√≠sticas, la mayoria de los modelos requieren que las caracteristicas est√©n en la misma escala, pero esto rara vez es cierto para los datos del mundo real.

En nuestro DataFrame de telecomunicaciones,por ejemplo la columna `Intl_alls` varia de 0 a 20.

In [ ]:
data_phones['Intl_Calls'].describe()

count    3333.000000
mean        4.479448
std         2.461214
min         0.000000
25%         3.000000
50%         4.000000
75%         6.000000
max        20.000000
Name: Intl_Calls, dtype: float64

Mientras que la columna `Night_Mins` varia de 23 a 395.

In [ ]:
data_phones['Night_Mins'].describe()

count    3333.000000
mean      200.872037
std        50.573847
min        23.200000
25%       167.000000
50%       201.200000
75%       235.300000
max       395.000000
Name: Night_Mins, dtype: float64

Por lo tanto , debemos reescalar nuestros datos y asegurarnos de que todas nuestras caracteristicas est√©n en la misma escala.

Haremos esto usando un proceso conocio como estandarizaci√≥n, que centra la distribuci√≥n alrededor de la media de los datos y calcula el n√∫mero de desviacion estandar de la media de cada punto.


Para hacerlo , podemos usar la funci√≥n `StandardScaler`de Sklearn.

In [ ]:
from sklearn.preprocessing import StandardScaler

df = StandardScaler().fit_transform(df)

### Identificaci√≥n de caracter√≠sticas para convertir


Es preferible tener caracter√≠sticas como `'Churn'` codificadas como 0 y 1 en lugar de no y s√≠, para que luego pueda introducirlas en algoritmos de aprendizaje autom√°tico que solo aceptan valores num√©ricos.

Adem√°s de `'Churn'`, otras caracter√≠sticas que son de tipo objeto se pueden convertir en 0 y 1. En este ejemplo, exploraremos los diferentes tipos de datos de telecomunicaciones.

In [ ]:
data_phones.dtypes

Account_Length      int64
Vmail_Message       int64
Day_Mins          float64
Eve_Mins          float64
Night_Mins        float64
Intl_Mins         float64
CustServ_Calls      int64
Churn              object
Intl_Plan           int64
Vmail_Plan         object
Day_Calls           int64
Day_Charge        float64
Eve_Calls           int64
Eve_Charge        float64
Night_Calls         int64
Night_Charge      float64
Intl_Calls          int64
Intl_Charge       float64
State              object
Area_Code           int64
Phone              object
dtype: object

Churn, Vmail_Plan e Intl_Plan, en particular, son funciones binarias que se pueden convertir f√°cilmente en 0 y 1. Esto es lo que haremos a continuaci√≥n.

La refundici√≥n de tipos de datos es una parte importante del preprocesamiento de datos. En este ejemplo, asignaremos los valores 1 a 'yes' y 0 a 'no' a las funciones 'Vmail_Plan' y 'Churn', respectivamente.

Vimos dos enfoques para hacer esto : uno usando pandas y el otro usando scikit-learn.

Para tareas sencillas como esta, se recomienda hacerlo con pandas, as√≠ que eso es lo que haremos.

Al hacer ciencia de datos, es importante tener en cuenta que siempre hay m√°s de una forma de realizar una tarea y debe elegir la que sea m√°s eficaz para su aplicaci√≥n.

In [ ]:
# Remplazamos `no`con 0 & 1 - `yes`en la columna `Vmail_Plan``

data_phones['Vmail_Plan'] = data_phones['Vmail_Plan'].replace({'no': 0 , 'yes': 1})

# Hacer lo mismo pero con 'Churn'

data_phones['Churn'] = data_phones['Churn'].replace({'yes':1,'no':0})

# Verificamos los resultados.


data_phones['Vmail_Plan'].head()

0    1
1    1
2    0
3    0
4    0
Name: Vmail_Plan, dtype: int64

In [ ]:
# Verificamos los resultados.
data_phones['Churn'].head()

0    0
1    0
2    0
3    0
4    0
Name: Churn, dtype: int64

### One hot encoding.


Anteriormente vimos c√≥mo la columna `'State'` se puede codificar num√©ricamente usando la t√©cnica de una codificaci√≥n en caliente.

Hacer esto manualmente ser√≠a bastante tedioso, ¬°especialmente cuando tienes 50 estados y m√°s de 3000 clientes! Afortunadamente, pandas tiene una funci√≥n `get_dummies()` que aplica autom√°ticamente una codificaci√≥n en caliente sobre la funci√≥n seleccionada.

In [ ]:
data_state = pd.get_dummies(data_phones['State'])

# Verificamos nuestros datos

data_state.head()

   AK  AL  AR  AZ  CA  CO  CT  DC  DE  ...  TN  TX  UT  VA  VT  WA  WI  WV  WY
0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0   0
1   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0   0
2   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0   0
3   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0   0
4   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0   0

[5 rows x 51 columns]

Tengamos en cuenta que esto crea un DataFrame completamente nuevo. Una vez que vuelva a fusionar esto con el DataFrame de telecomunicaciones original, puedes comenzar a usar estas caracter√≠sticas de estado en sus modelos. Sin embargo, ten en cuenta que ahora tenemos muchas m√°s funciones en nuestro conjunto de datos, por lo que deber√≠amos considerar eliminar las que sean innecesarias.

## Escala de Caracateristicas.

Recordemos las diferentes escalas de las columnas `'Intl_Calls'` y `'Night_Mins'`.

Nuestro trabajo en este ejemplo es volver a escalarlos utilizando [StandardScaler](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html)


En su espacio de trabajo, el DataFrame de telecomunicaciones se ha subconjunto para incluir solo las funciones que desea cambiar de escala: 

* 'Intl_Calls' 

*  'Night_Mins'

Para aplicar StandardScaler, primero debemos crear una instancia usando StandardScaler () y luego aplicar el m√©todo fit_transform (), pasando el DataFrame que desea cambiar de escala.

In [ ]:
# Se paramos columnas a escalar
telco_scaled = data_phones.loc[:,['Intl_Calls','Night_Mins']]

In [ ]:
# Import StandardScaler
from sklearn.preprocessing import StandardScaler
# Scale telco
telco_scaled = StandardScaler().fit_transform(telco_scaled)

# Add column names back for readability
telco_scaled_df = pd.DataFrame(telco_scaled, columns=["Intl_Calls", "Night_Mins"])

# Print summary statistics
print(telco_scaled_df.describe())

         Intl_Calls    Night_Mins
count  3.333000e+03  3.333000e+03
mean  -1.264615e-16  6.602046e-17
std    1.000150e+00  1.000150e+00
min   -1.820289e+00 -3.513648e+00
25%   -6.011951e-01 -6.698545e-01
50%   -1.948306e-01  6.485803e-03
75%    6.178983e-01  6.808485e-01
max    6.307001e+00  3.839081e+00

Ambas columnas est√°n ahora en la misma escala. En la pr√°ctica, deberemos asegurarnos de que este sea el caso para todas las funciones de inter√©s. A continuaci√≥n: selecci√≥n de funciones e ingenier√≠a de funciones.

## Selecci√≥n e Ingenieria de Funciones.

Los conjuntos de datos a menudo tienen caracteristicas que no proporcionan poder predictivo y debeen descartarse antes del modelado de datos.Un ejemplo de caracteristicas que se pueden descartar son identificadores unicos como n√∫meros de tel√©fono, n√∫meros de seguro social y n√∫meros de cuenta.

Pandas tiene un m√©todo para eliminarlos que se puede usar para eliminar columnas.

In [ ]:
data_phones.drop(['Soc_Sec','Tax_ID'], axis = 1)

Las caracteristicas que estan relacionadas con otra tambi√©n se pueden descartar, ya que no proporcionan informaci√≥n adicional al modelo.

El m√©todo `corr` nos permite explorar la correlaci√≥n entre las caracteristicasde nuestroconjunto de datos.

In [35]:
data_phones.corr()

                Account_Length  Vmail_Message  ...  Intl_Charge  Area_Code
Account_Length        1.000000      -0.004628  ...     0.009546  -0.012463
Vmail_Message        -0.004628       1.000000  ...     0.002884  -0.001994
Day_Mins              0.006216       0.000778  ...    -0.010092  -0.008264
Eve_Mins             -0.006757       0.017562  ...    -0.011067   0.003580
Night_Mins           -0.008955       0.007681  ...    -0.015180  -0.005825
Intl_Mins             0.009514       0.002856  ...     0.999993  -0.018288
CustServ_Calls       -0.003796      -0.013263  ...    -0.009675   0.027572
Day_Calls             0.038470      -0.009548  ...     0.021666  -0.009646
Day_Charge            0.006214       0.000776  ...    -0.010094  -0.008264
Eve_Calls             0.019260      -0.005864  ...     0.008674  -0.011886
Eve_Charge           -0.006745       0.017578  ...    -0.011074   0.003607
Night_Calls          -0.013176       0.007123  ...    -0.013630   0.016522
Night_Charge         -0.008960       0.007663  ...    -0.015186  -0.005845
Intl_Calls            0.020661       0.013957  ...     0.032372  -0.024179
Intl_Charge           0.009546       0.002884  ...     1.000000  -0.018395
Area_Code            -0.012463      -0.001994  ...    -0.018395   1.000000

[16 rows x 16 columns]

Podemos observar como minutos dl dia, minutos de la tarde, minutos en la noche y minutos internacionals estan altamene correlacionados con carga de dia, carga de tarde, carga de noche, carga internacional y esto tiene sentido intuitivamente y desde un modelo podemos mejorar el rendimiento de estos eliminando estas funciones redundantes.



Este proceso de elegir qu√© caracteristicas usar en nuestro modelo se conoce como seleccion de caracteristicas.


Tambi√©n neecisatmos crear nuevas funciones - columnas para ayudar e mejorar el rendimiento del modelo, esto se conoce como ingenieria de caracteristicas, un ejemplo de este seria crear una caracteristica llamada `total minuts` que consiste en combinar las suma de los minutos del dia,tarde noche e internacionales o podemos crear una nueva fncion que sea la relacion entre minutos y carga.

## Eliminar funciones innecesarias

Algunas funciones como 'Area_Code' y 'Phone' no son √∫tiles cuando se trata de predecir el abandono de clientes y deben descartarse antes del modelado. La forma m√°s f√°cil de hacerlo en Python es usando el m√©todo `.drop()` de pandas DataFrames.

In [38]:
# eliminamos las caracteristicas inecesarias
data_phone = data_phones.drop(['Area_Code','Phone'], axis = 1)

# Verificamos la eliminacion de caracteristicas

data_phone.columns

Index(['Account_Length', 'Vmail_Message', 'Day_Mins', 'Eve_Mins', 'Night_Mins',
       'Intl_Mins', 'CustServ_Calls', 'Churn', 'Intl_Plan', 'Vmail_Plan',
       'Day_Calls', 'Day_Charge', 'Eve_Calls', 'Eve_Charge', 'Night_Calls',
       'Night_Charge', 'Intl_Calls', 'Intl_Charge', 'State'],
      dtype='object')

Ingenier√≠a de una nueva columna.

Aprovechar el conocimiento del dominio para dise√±ar nuevas funciones es una parte esencial del modelado. Esta cita de Andrew Ng resume la importancia de la ingenier√≠a de funciones:


Proponer funciones es dif√≠cil, requiere mucho tiempo y requiere conocimientos especializados. El "aprendizaje autom√°tico aplicado" es b√°sicamente ingenier√≠a de funciones.


Nuestro trabajo es crear una nueva caracteristica que contenga informaci√≥n sobre la duraci√≥n promedio de las llamadas nocturnas realizadas por los clientes.

In [40]:
data_phone['Avg-Night_Calls'] = data_phone['Night_Mins']/data_phone['Night_Calls']

data_phone['Avg-Night_Calls'] .head()

0    2.689011
1    2.469903
2    1.563462
3    2.212360
4    1.544628
Name: Avg-Night_Calls, dtype: float64