# Join de DataSets

Los conjuntos de datos unidos le permiten analizar datos de más conjuntos de datos juntos y, por lo tanto, utilizar datos de más fuentes de datos en un solo informe.

In [2]:
import pandas as pd

In [19]:
filepath = "/Users/familiavs/Documents/GitHub/python-ml-course/datasets/athletes"

In [6]:
data_main = pd.read_csv("/Users/familiavs/Documents/GitHub/python-ml-course/datasets/athletes/Medals.csv", encoding = "ISO-8859-1")

In [7]:
data_main.head()

,Athlete,Age,Year,Closing Ceremony Date,Gold Medals,Silver Medals,Bronze Medals,Total Medals
0,Michael Phelps,23.0,2008,08/24/2008,8,0,0,8
1,Michael Phelps,19.0,2004,08/29/2004,6,0,2,8
2,Michael Phelps,27.0,2012,08/12/2012,4,2,0,6
3,Natalie Coughlin,25.0,2008,08/24/2008,1,2,3,6
4,Aleksey Nemov,24.0,2000,10/01/2000,2,1,3,6

In [8]:
#Podemos preguntarle a python cuantas veces aparece un atleta en el dataset.

a = data_main["Athlete"].unique().tolist()
len(a)

6956

In [10]:
data_main.shape

(8618, 8)

In [15]:
data_country = pd.read_csv("/Users/familiavs/Documents/GitHub/python-ml-course/datasets/athletes/Athelete_Country_Map.csv", encoding = "ISO-8859-1")

In [16]:
data_country.head()

            Athlete        Country
0    Michael Phelps  United States
1  Natalie Coughlin  United States
2     Aleksey Nemov         Russia
3     Alicia Coutts      Australia
4    Missy Franklin  United States

In [17]:
len(data_country)

6970

In [18]:
data_country[data_country["Athlete"] == "Aleksandar Ciric"]

               Athlete                Country
1029  Aleksandar Ciric                 Serbia
1086  Aleksandar Ciric  Serbia and Montenegro

In [21]:
data_sports =pd.read_csv("/Users/familiavs/Documents/GitHub/python-ml-course/datasets/athletes/Athelete_Sports_Map.csv", encoding ="ISO-8859-1" )

In [28]:
data_sports.head()

            Athlete       Sport
0    Michael Phelps    Swimming
1  Natalie Coughlin    Swimming
2     Aleksey Nemov  Gymnastics
3     Alicia Coutts    Swimming
4    Missy Franklin    Swimming

In [31]:
data_sports[(data_sports["Athlete"] == "Chen Jing") | (data_sports["Athlete"] == "Matt Ryan")]

        Athlete         Sport
1308  Chen Jing    Volleyball
1419  Chen Jing  Table Tennis
2727  Matt Ryan        Rowing
5003  Matt Ryan    Equestrian