# Examen Matematicas Discretas

## Fernando Vazquez Sanchez - No 420082523.

### **Pregunta 1:**

Sean los conjuntos $A=({a,b,c})$ y $B=({1,2,3,4,5})$ calcular:

* $AXB$

In [ ]:
import itertools
for i in itertools.product(['a','b','c'],[1,2,3,4,5]):
    print(i)

('a', 1)
('a', 2)
('a', 3)
('a', 4)
('a', 5)
('b', 1)
('b', 2)
('b', 3)
('b', 4)
('b', 5)
('c', 1)
('c', 2)
('c', 3)
('c', 4)
('c', 5)

---

## **2. Encontrar el conjunto potencia de $R$** 
* $R={ (1,2,3,4,5) } $

In [61]:
def pset(myset):
    if not myset:
        return [set()]
    r = []
    for y in myset:
        sy = set((y,))
        for x in pset(myset - sy):
            if x not in r:
                r.extend([x, x|sy])
        return r

print(pset(set((1,2,3,4,5))))

[set(), {1}, {2}, {1, 2}, {3}, {1, 3}, {2, 3}, {1, 2, 3}, {4}, {1, 4}, {2, 4}, {1, 2, 4}, {3, 4}, {1, 3, 4}, {2, 3, 4}, {1, 2, 3, 4}, {5}, {1, 5}, {2, 5}, {1, 2, 5}, {3, 5}, {1, 3, 5}, {2, 3, 5}, {1, 2, 3, 5}, {4, 5}, {1, 4, 5}, {2, 4, 5}, {1, 2, 4, 5}, {3, 4, 5}, {1, 3, 4, 5}, {2, 3, 4, 5}, {1, 2, 3, 4, 5}]

---

### **3. Sean los conjuntos:**

* $A=({a,b,c})$
* $B= ({s,t,u,v})$
* $C=({1,2,3,4,5})$

& las relaciones $R $ y $S$ definidas como:

* $R={(a,s),(a,t),(c,v),(d,u)} , A -> B$

* $S={(s,2),(t,1),(t,4),(u,3)} , B->C$

Hallar $S ∘ S$

**No ennedi como realizar la composicion de un mismo conjunto**, sin embaro realizre $S∘R$

| A   |     B      |  C |
|----------|:-------------:|:-------------:|
| a |  s | 1|
| b |   t   |   2 |
| c| u |    3 |
| d| v |   4 |
| |  |   5 |


**RESPUESTA - $S∘R$ = ${(a,2),(a,1),(a,4),(d,3)}$**

---

### 4. Liste y grafique con una matriz los pares ordenados


En la relacion $R$ del conjunto $a=({13,15,18,19})$ donde (a,b)estan en R syss $a>b$

In [63]:
R = {'13': [0,1,1,1],
        '15': [0,0,1,1],
        '18':[0,0,0,1],
        '19':[0,0,0,0]
        }

df = pd.DataFrame(R, columns = ['13','15','18','19'], index=['13','15','18','19'])
df

    13  15  18  19
13   0   0   0   0
15   1   0   0   0
18   1   1   0   0
19   1   1   1   0

Por lo tanto la respuesta es **R={(19,13),(19,15),(19,18),(18,13),(18,15),(15,13)}**

---

### 5. Para los siguientes conjuntos:

* R={(1,1),(1,2),(2,1),(2,2),(3,4),(4,1),(4,4)}
* S={(1,1),(1,2),(2,1)}
* T={(1,1),(1,2),(1,4),(2,1),(2,2),(3,3),(4,1),(4,4)}
* U={(2,1),(3,1),(3,2),(4,1),(4,2),(4,3)}
* V={(1,1),(1,2),(1,3),(1,4),(2,2),(2,3),(2,4),(3,3),(3,4),(4,4)}
* W={(3,4)}


Hallar los conjuntos **Simetricos**

### **RECORDATORIO**
Recordemos que una Relacion simetrica es el conjunto de pares o par ordenado donde **todo par ordenado de R debe tener su inverso.**

Para este problema , representare las tablas como un dataframe de pandas.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
R = {'1': [1,1,np.nan,np.nan],
        '2': [1,1,np.nan,np.nan],
        '3':[np.nan,np.nan,np.nan,1],
        '4':[1,np.nan,np.nan,1]
        }

df = pd.DataFrame(R, columns = ['1','2','3','4'], index=['1','2','3','4'])
df

     1    2    3    4
1  1.0  1.0  NaN  1.0
2  1.0  1.0  NaN  NaN
3  NaN  NaN  NaN  NaN
4  NaN  NaN  1.0  1.0

Notemos que R no cumple con la propiedad simetrica , ya que no existen los pares ordenados $(4,3),(1,4)$, por lo tanto no cumple con la propiedad , pasemos ahora con el conjunto $S$

In [ ]:
S = {'1': [1,1],
        '2': [1,np.nan]
        }

df_S = pd.DataFrame(S, columns = ['1','2'], index=['1','2'])
df_S

   1    2
1  1  1.0
2  1  NaN

Notemos que en el conjunto $S$ existen los pares ordenados $(1,2)$ y $(2,1)$ , por lo tanto podemos afirmar que $S$ es una relacion simetrica.


Procedamos a la relacion $T$

In [ ]:
T = {'1': [1,1,np.nan,1],
        '2': [1,1,np.nan,np.nan],
        '3':[np.nan,np.nan,1,np.nan],
        '4':[1,np.nan,np.nan,1]
        }

df_T = pd.DataFrame(T, columns = ['1','2','3','4'], index=['1','2','3','4'])
df_T

     1    2    3    4
1  1.0  1.0  NaN  1.0
2  1.0  1.0  NaN  NaN
3  NaN  NaN  1.0  NaN
4  1.0  NaN  NaN  1.0

Veamos que si existen los pares relacionados , podemos ver en todos los casos y no aparece nigun nan , por lo tanto $T$ , tambien es una relacion simetrica.

Considero que ees suficiente , las demostraciones que cabao de realizar , sin embargo para las ultimas 3 relaciones , no creare un dataframe , simplemente lo describire:

* $U$ - No es una relacion simetrica por que no existen los pares ordenados (1,2),(3,2) etc..

* $V$ - Veamos que si existen la mitad de los pares ordenados pero la otra mitad no , por lo tanto no es una relacion simetrica.

---


### 6.- Demostracion

P.D que la relación de división denotada por $|$ en el conjunto de los enteros
positivos **no es una relación de equivalencia**.


Veamos que si se cumplen las siguientes propiedades:

* **Reflexiva** ✓ 

Fijaremos 2 numeros , para aplicarlo en codigo

In [ ]:
a =1
a_1 =1 
reflex = a_1/a
reflex_1 = a/a_1
print(reflex)
print(reflex_1)

1.0
1.0

* **Simetrica** X

Fijaremos 2 numeros para aplicarlo en codigo

In [ ]:
a = 2
b = 4

div_1 = a/b
div_2 = b/a

print(div_1)
print(div_2)

0.5
2.0

Como los resultados no son los mismos no podemos afirmar que sea simetrica y por lo tanto **NO ES UNA RELACION DE EQUIVALENCIA**

---


## **7. Sea $X$ , el conjunto de todos los seres humanos vivos:**

* R={(a,b)|a tiene el mismo cumple que b}

* Describir 3 individuos de las siguientes clases de equivalencia:

* [1-noviembre]
* [24 noviembre]
* [25 diciembre]

## [1 noviembre]:

* {Eric Turner,Tina Arena,Mose Allison}

## [24 noviembre]:

* {Celina Jaitley,María Amalia de Sajonia,Tsung-Dao Lee }

* [25 diciembre]:

* {Humphrey BOgart,Justin Trudeau,Armin Vann Burenn}

---

## **8.Demostracion**

 P.D que la relación de inclusión $⊆$ es un orden parcial en el conjunto
potencia del conjunto $S$.

Recordemos que el conjunto potencia se refiere a que los elementos de un conjunto pueden verse como un  numero de conjuntos que podemos elevar a un numero.

* **REFLEXIVA**- Entonces si suponemos que $F$ es un subconjunto de S  entonces**$F⊆F$**, por lo tanto **es reflexiva.**


* **ANTISIMETRICA** - Para esta demostracion fijaremos aun conjunto $W$ , como un subconjunto de $F$, entonces $W⊆F$ -> $F⊆W$ , de aqui ya que todos son subconjuntos dentro de si mismos podemos afirmar que $F=W$ , por lo tanto **si es antisimetrica.**


* **TRANSITIVA** - ES transitiva ya que si nostros definimos un $K$ , como un subconjunto potencia de $W$, entonces podemos decir que $F⊆K$ , ya que K esta dentro de F , por lo tanto **si es transitiva.**


Una vez demostradas estas 3 propiedades , podemos concluir que la relacion $⊆$ **SI es un un orden parcial en S**.


---


## 9. Diagrama Hasse

Dibuje el diagrama de Hasse que represente el conjunto de orden parcial ${(a,b) | a
divide b}$ en ${1,2,3,4,5,6,8,12}$


![](https://raw.githubusercontent.com/Chilangdon20/IMAGENES/master/ImagenesPython/1.png?token=AOSXAEAC6Q7Q3R47HDSS3VC7Y25QC)


**Trate de graficarlos con la libreria Networkx , debido a mis faltas de conocimiento en la libreria , no logre realizar la grafica.**



---

## 10. Diagrama Hasse 2
Dibuje el diagrama de Hasse para el orden parcial de todos los subconjuntos de
${A,B|A⊆B}$ en el conjunto potencia de $P(S)$ donde $S={a,b,c}$

In [62]:
print(pset(set(('a','b','c'))))

[set(), {'c'}, {'a'}, {'c', 'a'}, {'b'}, {'c', 'b'}, {'a', 'b'}, {'c', 'a', 'b'}]

Resultado:



![imagen](https://raw.githubusercontent.com/Chilangdon20/PYTHON/master/Curso%20Matem%C3%A1ticas/10.png)