<center>

![](https://raw.githubusercontent.com/Chilangdon20/PYTHON/master/Curso%20Basico/CursoExpress/Imagenes/pickle.png)



</center>


# Introducción a otro tipo de archivos.

## Introducción:

Ahora que hemos dominado el arte de importar archivos planos en Python , es hora de revisar una serie de otros tipos de archivos con los que necesitaremos trabajar como CD.

En este notebook aprenderemos a importar hojas de cálculo Excel , que utilizan profesiones de todas las disciplinas para almacenar sus datos.Tambien nos familiarizaremos con l aimportación de archivos *MATLAB,SAS & STATA* que son comunes.

Tambien veremos como importar archivos HDF5 y la importancia de un archivo HFD5 que contienen datos del proyecto OBservatorio de ondas gravitacionales del onteferometro Laser, que proporciono apoyo empirico a la teoria de ondas gravitacionales de Einstein en 2016.


Los archivos *HDF5* cada vez se convierten en una forma mas frecuente de almacenar grander conjntos de datos , utilizado por investigadores de [LIGO](https://www.ligo.caltech.edu/).

Otro tipo de archivo que aprenderemos en este bloque sera el `Pickle file`, este es un archivo nativo de Python.El concepto de `Pickle file` esta motivado por lo siguiente:

**Si bien puede ser fácil  guardar una matriz numpy o un DataFrame en un archivo plano, hay muchos otros tipos de datos como diccionarios y listas , para los cuales no es obvio como almacenarlos**

Justamente aqui es donde entra `'Pikle file'` , si deseamos que nuestros archivos sean legibles por humanos, podemos guardarlos como archivos de texto de manera inteligente y justamente los JSON Files son apropiados para los diccionarios en Python , no te preocupes mas adelante tambien tocaremos estos archivos.

Todo esto significa convertir el objeto en una secuencia de bytes o bytestream.Como este es un curso de importación de datos en Python aprenderemos a importar archivos ya encurtidos(`Pikle`).

Como lo hemo hecho antes, al abrir un archivo queremos especificar que sea solamente de lectura, también quiero especificar que es un archivo binario, lo que significa que es legible por lenguaje computadora y no lenguaje humano.

A continuación veremos un ejemplo no ejecutable:

In [ ]:
import pickle
with open('file_pikle.pk1','rb') as file: # `rb` significa binaryread lenguaje maquina
  data = pickle.load(file)
print(data)

Luego veremos ejemploscomo este:

In [1]:
import pandas as pd
file = 'https://assets.datacamp.com/production/repositories/487/datasets/5e8897e4624f8577ed0d33aeafbe7bd88bfc424b/battledeath.xlsx'
data = pd.ExcelFile(file)

Estos son tan conocidos que no necesitan presentación, un archivo excel generalment consta de varias hojas de calculo, hay muchas formas de importar archivos Excel y podremos hacerlo con Pandas , ya que estos producen DataFrame de forma nativa, la cual es ideal para los trabajos realizados de nuestro interes.

Como un archiuvo de Excel consta de hojas de calculo, lo primero que debemos hacer es averiguar cuales son las hojas, para esto existe el método `sheet_names`.

In [2]:
print(data.sheet_names)

['2002', '2004']

Para luego cargar una hoja en particular como un DataFrame solo necesitamos pasar el mètodo `parse` aplicandolo al objeto en este caso `data`.

In [4]:
df1 = data.parse('2002')

Te guste o no, cualquier científico de datos que trabaje tendrá que lidiar con las hojas de cálculo de Excel en algún momento. 

¡Sin embargo, no siempre querrá hacerlo en Excel! Aquí, aprenderás cómo usar pandas para importar hojas de cálculo Excel y cómo enumerar los nombres de las hojas en cualquier archivo .xlsx cargado.

Dado un archivo Excel importado en una hoja de cálculo variable, puedes recuperar una lista de los nombres de las hojas utilizando el atributo `spreadsheet.sheet_names`.


Específicamente, cargarás y revisarás la hoja de cálculo 'battledeath.xlsx', modificada del conjunto de datos del Instituto de Investigación de la Paz de Oslo (PRIO). Estos datos contienen tasas de mortalidad ajustadas por edad debido a la guerra en varios países durante varios años.

In [16]:
import pandas as pd
file = 'https://assets.datacamp.com/production/repositories/487/datasets/5e8897e4624f8577ed0d33aeafbe7bd88bfc424b/battledeath.xlsx'
xls = pd.ExcelFile(file)
print(xls.sheet_names)

['2002', '2004']

Ahora seleccionaremos una hoja especifica de nuestro archivo con el comando `parse`:

In [8]:
# Carga hoja 1 '2004'
df1 = xls.parse('2004')
# imprimir encabezado
print(df1.head())

  War(country)      2004
0  Afghanistan  9.451028
1      Albania  0.130354
2      Algeria  3.407277
3      Andorra  0.000000
4       Angola  2.597931

In [11]:
# Craga segunda hoja: df2
df2 = xls.parse(0)
# imprimir encabezado
print(df2.head())

  War, age-adjusted mortality due to       2002
0                        Afghanistan  36.083990
1                            Albania   0.128908
2                            Algeria  18.314120
3                            Andorra   0.000000
4                             Angola  18.964560

Ahora analizaremos las hojas de cálculo y utilizaremos argumentos adicionales para omitir filas, renombrar columnas y seleccionar solo columnas particulares.

Como antes, usaremos el método `parse()`. Esta vez, sin embargo, agregaremos argumentos adicionales `skiprows`, `names` y `usecols`. `skiprows`, nombra las columnas y designa qué columnas analizar, respectivamente. Todos estos argumentos pueden asignarse a listas que contienen los números de fila, cadenas y números de columna específicos, según corresponda.

*  Analizamos la primera hoja por índice. Al hacerlo, omitimos la primera fila de datos y nombre las columnas 'País' y 'AAM debido a War (2002)' usando los nombres de los argumentos. Todos los valores pasados ​​a skiprows y nombres deben ser de tipo lista.

In [19]:
# Datos originales

xls.parse()

    War, age-adjusted mortality due to       2002
0                          Afghanistan  36.083990
1                              Albania   0.128908
2                              Algeria  18.314120
3                              Andorra   0.000000
4                               Angola  18.964560
..                                 ...        ...
187                          Venezuela   0.000000
188                            Vietnam   0.040222
189                        Yemen, Rep.   0.074510
190                             Zambia   0.044548
191                           Zimbabwe  33.796200

[192 rows x 2 columns]

In [22]:
# Analizar la primera hoja : df1
df1 = xls.parse(0, skiprows=[0], names=['País', 'AAM debido a la guerra (2002)'])

# Imprimir encabezado DataFrame df1
df1.head()

                  País  AAM debido a la guerra (2002)
0              Albania                       0.128908
1              Algeria                      18.314120
2              Andorra                       0.000000
3               Angola                      18.964560
4  Antigua and Barbuda                       0.000000

Analizamos la segunda hoja por índice. Al hacerlo, analizamos solo la primera columna con el parámetro usecols, omita la primera fila y cambie el nombre de la columna 'País'. El argumento pasado a usecols también debe ser de tipo lista.

In [23]:
# Analizar la primera columna de la segunda hoja : df2
df2 = xls.parse(1, usecols=[0], skiprows=[0], names=['País'])

# Imprimir encabezado DataFrame df2
df2.head()

                  País
0              Albania
1              Algeria
2              Andorra
3               Angola
4  Antigua and Barbuda