<a href="https://github.com/Chilangdon20/PYTHON/tree/master/Curso%20Basico/CursoExpress">
    <img src="https://raw.githubusercontent.com/Chilangdon20/PYTHON/master/Curso%20Basico/CursoExpress/Imagenes/Chilangodn.png" width="200" align="center">
</a>

<h1>Listas en Python</h1>

<p><strong>Bienvenido!</strong> Este notebook te enseñará sobre las listas en el lenguaje de programación Python. Al final de esta práctica , conocerás las operaciones básicas de las listas en Python, incluida la indexación, las operaciones de las listas y las listas de copia / clonación.</p> 

**LINK:**

https://colab.research.google.com/drive/1HW-Jvp2UgdidHCpGKe8PEaHA-LMHUrb_?usp=sharing

<h2>Tabla de Contenidos</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>
            <a href="#dataset">Acerca del dataset</a>
        </li>
        <li>
            <a href="#list">Lists</a>
            <ul>
                <li><a href="index">Indexado</a></li>
                <li><a href="content">Contenido listas</a></li>
                <li><a href="op">Operaciones con listas</a></li>
                <li><a href="co">Copiar & clonar listas</a></li>
            </ul>
        </li>
        <li>
            <a href="#quiz">Quiz de listas</a>
        </li>
  
</div>

<hr>

<h2 id="#dataset">Acerca del DataSet</h2>

Imagina que recibiste las recomendaciones del álbum de tus amigos y compilaste todas las recomendaciones en una tabla, con información específica sobre cada álbum.

La tabla tiene una fila para cada película y varias columnas:
- **artist** - Nombre del archivo
- **album** - Nombre del album
- **released_year** - Año en que se lanzó el álbum
- **length_min_sec** - Duración del álbum (horas, minutos, segundos)
- **genre** - Genreo del album
- **music_recording_sales_millions** - Ventas de grabaciones musicales (millones en USD) en [SONG://DATABASE](http://www.song-database.com/)
- **claimed_sales_millions** - Ventas reclamadas del álbum (millones en USD) en [SONG://DATABASE](http://www.song-database.com/)
- **date_released** - Fecha de lanzamiento del álbum.
- **soundtrack** - Indica si el álbum es la banda sonora de la película (Y) o (N)
- **rating_of_friends** - Indica la calificación de tus amigos del 1 al 10.
<br>
<br>

El dataset se veria asi:

<font size="1">
<table font-size:xx-small style="width:100%">
  <tr>
    <th>Artist</th>
    <th>Album</th> 
    <th>Released</th>
    <th>Length</th>
    <th>Genre</th> 
    <th>Music recording sales (millions)</th>
    <th>Claimed sales (millions)</th>
    <th>Released</th>
    <th>Soundtrack</th>
    <th>Rating (friends)</th>
  </tr>
  <tr>
    <td>Michael Jackson</td>
    <td>Thriller</td> 
    <td>1982</td>
    <td>00:42:19</td>
    <td>Pop, rock, R&B</td>
    <td>46</td>
    <td>65</td>
    <td>30-Nov-82</td>
    <td></td>
    <td>10.0</td>
  </tr>
  <tr>
    <td>AC/DC</td>
    <td>Back in Black</td> 
    <td>1980</td>
    <td>00:42:11</td>
    <td>Hard rock</td>
    <td>26.1</td>
    <td>50</td>
    <td>25-Jul-80</td>
    <td></td>
    <td>8.5</td>
  </tr>
    <tr>
    <td>Pink Floyd</td>
    <td>The Dark Side of the Moon</td> 
    <td>1973</td>
    <td>00:42:49</td>
    <td>Progressive rock</td>
    <td>24.2</td>
    <td>45</td>
    <td>01-Mar-73</td>
    <td></td>
    <td>9.5</td>
  </tr>
    <tr>
    <td>Whitney Houston</td>
    <td>The Bodyguard</td> 
    <td>1992</td>
    <td>00:57:44</td>
    <td>Soundtrack/R&B, soul, pop</td>
    <td>26.1</td>
    <td>50</td>
    <td>25-Jul-80</td>
    <td>Y</td>
    <td>7.0</td>
  </tr>
    <tr>
    <td>Meat Loaf</td>
    <td>Bat Out of Hell</td> 
    <td>1977</td>
    <td>00:46:33</td>
    <td>Hard rock, progressive rock</td>
    <td>20.6</td>
    <td>43</td>
    <td>21-Oct-77</td>
    <td></td>
    <td>7.0</td>
  </tr>
    <tr>
    <td>Eagles</td>
    <td>Their Greatest Hits (1971-1975)</td> 
    <td>1976</td>
    <td>00:43:08</td>
    <td>Rock, soft rock, folk rock</td>
    <td>32.2</td>
    <td>42</td>
    <td>17-Feb-76</td>
    <td></td>
    <td>9.5</td>
  </tr>
    <tr>
    <td>Bee Gees</td>
    <td>Saturday Night Fever</td> 
    <td>1977</td>
    <td>1:15:54</td>
    <td>Disco</td>
    <td>20.6</td>
    <td>40</td>
    <td>15-Nov-77</td>
    <td>Y</td>
    <td>9.0</td>
  </tr>
    <tr>
    <td>Fleetwood Mac</td>
    <td>Rumours</td> 
    <td>1977</td>
    <td>00:40:01</td>
    <td>Soft rock</td>
    <td>27.9</td>
    <td>40</td>
    <td>04-Feb-77</td>
    <td></td>
    <td>9.5</td>
  </tr>
</table></font>

<hr>

<h2 id="list">Listas</h2>

<h3 id="index">Indexado</h3>

Vamos a echar un vistazo a las listas en Python. Una lista es una **colección secuenciada de diferentes objetos, como enteros, cadenas y otras listas también.** La dirección de cada elemento dentro de una lista se denomina <b> índex </b>. Se utiliza un índice para acceder y hacer referencia a elementos dentro de una lista.

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/ListsIndex.png" width="1000" />

Para crear una lista, escriba la lista entre corchetes <b> [ ] </b>, con su contenido dentro del paréntesis y separado por comas. ¡Vamos a intentarlo!

In [4]:
# Creamos una lista

Lista = ["Michael Jackson", 10.1, 1982]
Lista

['Michael Jackson', 10.1, 1982]

Podemos usar indexación negativa y regular con una lista:

In [7]:
#Imprimimos los elementos en cada índice

print('El mismo elemento usando indexación negativa y positiva: \n Positivo.(0):',L[0],
'\n Negativo.(-3):' , L[-3]  )
print('El mismo elemento usando indexación negativa y positiva: \n Positivo.(1):',L[1],
'\n Negativo.(-2):' , L[-2]  )
print('El mismo elemento usando indexación negativa y positiva: \n Positivo(2):',L[2],
'\n Negativo.(-1):' , L[-1]  )

El mismo elemento usando indexación negativa y positiva:
 Positivo.(0): Michael Jackson
 Negativo.(-3): Michael Jackson
El mismo elemento usando indexación negativa y positiva:
 Positivo.(1): 10.1
 Negativo.(-2): 10.1
El mismo elemento usando indexación negativa y positiva:
 Positivo(2): 1982
 Negativo.(-1): 1982

<h3 id="content">Contenido de Listas</h3>

Las listas pueden contener cadenas, flotantes y enteros. Podemos anidar otras listas, y también podemos anidar tuplas y otras estructuras de datos. Las mismas convenciones de indexación se aplican para anidar:

In [8]:
# Lista de muestra

["Michael Jackson", 10.1, 1982, [1, 2], ("A", 1)]

['Michael Jackson', 10.1, 1982, [1, 2], ('A', 1)]

<h3 id="op">Operaciones con Listas.</h3>

También podemos realizar slicing en listas. Por ejemplo, si queremos los **dos** últimos elementos, usamos el siguiente comando:

In [9]:
# Muestra Lista

L = ["Michael Jackson", 10.1,1982,"MJ",1]
L

['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [10]:
#slicing Lista

L[3:5]

['MJ', 1]

Podemos usar el método <code>extend</code> para agregar nuevos elementos a la lista:

In [11]:
# Uso de extend para aadir elemantos a la lista

Lista = [ "Michael Jackson", 10.2]
Lista.extend(['pop', 10])
Lista

['Michael Jackson', 10.2, 'pop', 10]

Otro método similar es <code> append</code>. Si aplicamos <code> append</code> en lugar de <code> extend</code>, agregaremos un elemento a la lista:

In [12]:
# Uso de append para añadir elementos

Lista = [ "Michael Jackson", 10.2]
Lista.append(['pop', 10])
Lista

['Michael Jackson', 10.2, ['pop', 10]]

Cada vez que aplicamos un método, la lista cambia. Si aplicamos <code> extend</code>, agregamos dos elementos nuevos a la lista. La lista <code> Lista</code> se modifica agregando dos elementos nuevos:

In [13]:
# Uso de extend para añadir elementos a la lista

Lista = [ "Michael Jackson", 10.2]
Lista.extend(['pop', 10])
Lista

['Michael Jackson', 10.2, 'pop', 10]

Si agregamos la lista <code> ['a', 'b'] </code> tenemos un nuevo elemento que consiste en una lista anidada:

In [14]:
# Uso de append para añadir elementos a la lista

Lista.append(['a','b'])
Lista

['Michael Jackson', 10.2, 'pop', 10, ['a', 'b']]

Como las listas son mutables, podemos cambiarlas. Por ejemplo, podemos cambiar el primer elemento de la siguiente manera:

In [15]:
# Cambiar el elemento según el índice

A = ["disco", 10, 1.2]
print('Antes del cambio:', A)
A[0] = 'hard rock'
print('Despues del cambio:', A)

Antes del cambio: ['disco', 10, 1.2]
Despues del cambio: ['hard rock', 10, 1.2]

También podemos eliminar un elemento de una lista usando el comando <code> del</code>:

In [16]:
# Eliminar el elemento basado en el índice

print('Antes:', A)
del(A[0])
print('Despues:', A)

Antes: ['hard rock', 10, 1.2]
Despues: [10, 1.2]

Podemos convertir una cadena en una lista usando <code> split</code>. Por ejemplo, el método <code> split</code> traduce cada grupo de caracteres separados por un espacio en un elemento en una lista:

In [24]:
# Split de la cadena, el valor predeterminado es por espacio

'hard rock'.split()

['hard', 'rock']

Podemos usar la función split para separar cadenas en un carácter específico. Pasamos el carácter que nos gustaría dividir en el argumento, que en este caso es una coma. El resultado es una lista, y cada elemento corresponde a un conjunto de caracteres que han sido separados por una coma:

In [25]:
# Separamos la cadena por comas

'A,B,C,D'.split(',')

['A', 'B', 'C', 'D']

<h3 id="co">Copia y clonacion de listas</h3>

Cuando establecemos una variable <b> B </b> igual a <b> A </b>; tanto <b> A </b> como <b> B </b> hacen referencia a la misma lista en la memoria:

In [26]:
# Copia por referencia de la lista A

A = ["hard rock", 10, 1.2]
B = A
print('A:', A)
print('B:', B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

Inicialmente, el valor del primer elemento en <b> B </b> se establece como hard rock. Si cambiamos el primer elemento en <b> A </b> a <b> banana </b>, obtenemos un efecto secundario inesperado. Como <b> A </b> y <b> B </b> hacen referencia a la misma lista, si cambiamos la lista <b> A </b>, la lista <b> B </b> también cambia. Si verificamos el primer elemento de <b> B </b> obtenemos banana en lugar de hard rock:

In [28]:
# Examinamos la copia por referencia

print('B[0]:', B[0])
A[0] = "banana"
print('B[0]:', B[0])

B[0]: banana
B[0]: banana

Esto se demuestra en la siguiente figura:

Puedes clonar la lista **A** utilizando la siguiente sintaxis:

In [29]:
# Clonar (clonar por valor) la lista A

B = A[:]
B

['banana', 10, 1.2]

La variable **B** hace referencia a una nueva copia o clon de la lista original.

Ahora, si cambias <b> A </b>, <b> B </b> no cambiará:

In [30]:
print('B[0]:', B[0])
A[0] = "hard rock"
print('B[0]:', B[0])

B[0]: banana
B[0]: banana

<h2 id="quiz">Quiz de listas</h2>

Cree una lista <code> a_list </code>, con los siguientes elementos <code> 1 </code>, <code> hello </code>, <code> [1,2,3] </code> y < code> True </code>.

In [0]:
# Escribe tu respuesta aqui

Doble-click <b>aqui</b> para la solucion.

<!-- Respuesta:
a_list = [1, 'hello', [1, 2, 3] , True]
a_list
-->

Encuentre el valor almacenado en el índice 1 de <code> a_list </code>.

In [0]:
# Escribe tu respuesta aqui

Double-click <b>here</b> for the solution.

<!-- Respuesta
a_list[1]
-->

Recupere los elementos almacenados en los índices 1, 2 y 3 de <code> a_list </code>.

In [0]:
# Escribe tu respuesta

Doble-click <b>aqui</b> para la solucion.

<!-- Your answer is below:
a_list[1:4]
-->

Concatene las siguientes listas <code> A = [1, 'a'] </code> y <code> B = [2, 1, 'd'] </code>:

Doble-click <b>aqui</b> para la solucion.

<!-- Respuesta:
A = [1, 'a'] 
B = [2, 1, 'd']
A + B
-->

<h3>Acerca del Autor:</h3>  
<p><a href="https://www.linkedin.com/in/fernando-v%C3%A1zquez-058189177//" target="_blank">Fernando Vazquez </a> ,estudiante de la licenciatura matematicas aplicadas & computacion, con proceso a cientifico de datos .</p>