 <a href="https://github.com/Chilangdon20/PYTHON/blob/master/Curso%20Basico/CursoExpress/Imagenes/Chilangodn.png">
    <img src="https://raw.githubusercontent.com/Chilangdon20/PYTHON/master/Curso%20Basico/CursoExpress/Imagenes/Chilangodn.png" width="200" align="center">
</a>

<h1>Tuplas en Python</h1>

<h2>Tabla de contenido</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>
            <a href="#dataset">Acerca del DataSet</a>
        </li>
        <li>
            <a href="#tupla">Tuplas</a>
            <ul>
                <li><a href="index">Indexado</a></li>
                <li><a href="slice">Slicing</a></li>
                <li><a href="sort">Sorting</a></li>
            </ul>
        </li>
        <li>
            <a href="#escape">Quiz de Tuplas</a>
        </li>
    
</div>

<hr>

<h2 id="dataset">Acerca del DataSet</h2>

Imagina que recibiste las recomendaciones del álbum de tus amigos y compilaste todas las recomendaciones en una tabla, con información específica sobre cada álbum.

La tabla tiene una fila para cada película y varias columnas:

- **artist** - Nombre del artista
- **album** - Nombre del album
- **released_year** - Año en el que fue lanzado
- **length_min_sec** - Tiempo del album (horas,minutos,segundos)
- **genre** - Genero del album
- **music_recording_sales_millions** - Musica vendida (milliones in USD) on [SONG://DATABASE](http://www.song-database.com/)
- **claimed_sales_millions** - Ventas reclamadas del álbum (milliones in USD) on [SONG://DATABASE](http://www.song-database.com/)
- **date_released** - Fecha en la que fue lanzado
- **soundtrack** - Indica si el álbum es la banda sonora de la película (Y) o (N)
- **rating_of_friends** - Indica la calificación de tus amigos del 1 al 10.
<br>
<br>

El conjunto de datos se puede ver a continuación:

<font size="1">
<table font-size:xx-small style="width:25%">
  <tr>
    <th>Artist</th>
    <th>Album</th> 
    <th>Released</th>
    <th>Length</th>
    <th>Genre</th> 
    <th>Music recording sales (millions)</th>
    <th>Claimed sales (millions)</th>
    <th>Released</th>
    <th>Soundtrack</th>
    <th>Rating (friends)</th>
  </tr>
  <tr>
    <td>Alesso</td>
    <td>Lose my Self</td> 
    <td>1982</td>
    <td>00:42:19</td>
    <td>Pop,edm,grid</td>
    <td>46</td>
    <td>65</td>
    <td>30-Nov-2015</td>
    <td></td>
    <td>10.0</td>
  </tr>
  <tr>
    <td>AC/DC</td>
    <td>Back in Black</td> 
    <td>1980</td>
    <td>00:42:11</td>
    <td>Hard rock</td>
    <td>26.1</td>
    <td>50</td>
    <td>25-Jul-2008</td>
    <td></td>
    <td>8.5</td>
  </tr>
    <tr>
    <td>Noissa</td>
    <td>Moon</td> 
    <td>2018</td>
    <td>00:42:49</td>
    <td>riddim</td>
    <td>24.2</td>
    <td>45</td>
    <td>01-Mar-73</td>
    <td></td>
    <td>9.5</td>
  </tr>
    <tr>
    <td>Xxxtenation</td>
    <td>Moonlight</td> 
    <td>1992</td>
    <td>00:57:44</td>
    <td>Soundtrack/trap,perreo,edm</td>
    <td>26.1</td>
    <td>50</td>
    <td>25-Jul-80</td>
    <td>Y</td>
    <td>7.0</td>
  </tr>
    <tr>
    <td>Meat Loaf</td>
    <td>Bat Out of Hell</td> 
    <td>1977</td>
    <td>00:46:33</td>
    <td>Hard rock, progressive rock</td>
    <td>20.6</td>
    <td>43</td>
    <td>21-Oct-77</td>
    <td></td>
    <td>7.0</td>
  </tr>
    <tr>
    <td>Eagles</td>
    <td>Their Greatest Hits (1971-1975)</td> 
    <td>1976</td>
    <td>00:43:08</td>
    <td>Rock, soft rock, folk rock</td>
    <td>32.2</td>
    <td>42</td>
    <td>17-Feb-76</td>
    <td></td>
    <td>9.5</td>
  </tr>
    <tr>
    <td>Bee Gees</td>
    <td>Saturday Night Fever</td> 
    <td>1977</td>
    <td>1:15:54</td>
    <td>Disco</td>
    <td>20.6</td>
    <td>40</td>
    <td>15-Nov-77</td>
    <td>Y</td>
    <td>9.0</td>
  </tr>
    <tr>
    <td>Fleetwood Mac</td>
    <td>Rumours</td> 
    <td>1977</td>
    <td>00:40:01</td>
    <td>Soft rock</td>
    <td>27.9</td>
    <td>40</td>
    <td>04-Feb-77</td>
    <td></td>
    <td>9.5</td>
  </tr>
</table></font>

<h2 id="tupla">Tuplas</h2>

En Python, hay diferentes tipos de datos: cadena, entero y flotante. Todos estos tipos de datos pueden estar contenidos en una tupla de la siguiente manera:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/TuplesType.png" width="750" align="center" />

Ahora, creamos nuestra primera tupla con string, int y float.

In [1]:
tupla1 = ("name",10,10.5)
tupla1

('name', 10, 10.5)

Vemos le tipo de nuestra variable "tupla1"

In [2]:
type(tupla1)

tuple

<h3 id="index">Indexado</h3>

Se puede acceder a cada elemento de una tupla a través de un índice. La siguiente tabla representa la relación entre el índice y los elementos de la tupla. Cada elemento se puede obtener por el nombre de la tupla seguido de un corchete con el número de índice.

Podemos imprimir cada valor en la tupla:

In [3]:
# Imprimimos la variable de nuestro indexado

print(tupla1[0])
print(tupla1[1])
print(tupla1[2])

name
10
10.5

Ahora imprimimos el tipo de dato que tiene cada elemento de nuestra tupla.

In [4]:
print(type(tupla1[0]))
print(type(tupla1[1]))
print(type(tupla1[2]))

<class 'str'>
<class 'int'>
<class 'float'>

También podemos usar indexación negativa.
Podemos obtener el último elemento de la siguiente manera (esta vez no usaremos la declaración de impresión para mostrar los valores):

In [6]:
# Usamos el indexado negativo para ubicar nuestro ultimo elemento.

tupla1[-1]

10.5

Podemos mostrar los siguientes dos elementos de la siguiente manera:

In [8]:
# Use el índice negativo para obtener el valor del segundo último elemento
tupla1[-2]

10

In [10]:
# Use el índice negativo para obtener el valor del tercer último elemento
tupla1[-3]

'name'

<h3 id="concate">Tuplas Concatenadas</h3>

Podemos concatenar o combinar tuplas usando el signo ** + **:

In [11]:
# Concatenamos 2 tuplas

tupla2 = tupla1 + ("Tomorrowland", 10)
tupla2

('name', 10, 10.5, 'Tomorrowland', 10)

<h3 id="slice">Slicing</h3>

Podemos cortar tuplas, obteniendo nuevas tuplas con los elementos correspondientes:

In [12]:
# Hacemos slicing del indentado 0 al 2

tupla2[0:3]

('name', 10, 10.5)

Podemos obtener los dos últimos elementos de la tupla:

In [14]:
# Slice del indentado 3 al 4

tupla2[3:5]

('Tomorrowland', 10)

Podemos obtener la longitud de una tupla usando el comando de longitud:

In [16]:
len(tupla2)

5

<h3 id = "sort"> Sorting</h3>

Considera la siguiente tupla:

In [0]:
#Una muestard e tupla
edad = (1,2,6,8,20,3,12)

Podemos ordenar los valores en una tupla y guardarla en una nueva tupla:

In [19]:
edadOrdenada = sorted(edad)
edadOrdenada

[1, 2, 3, 6, 8, 12, 20]

<h3 id="nest">Nested Tuple</h3>

Una tupla puede contener otra tupla, así como otros tipos de datos más complejos. Este proceso se llama 'anidamiento'. Considere la siguiente tupla con varios elementos:

In [21]:
#Creamos una tupla anidada
tuplaAni = (1, 2, ("pop", "dubstep") ,(3,4),("Rock",(1,2)))
tuplaAni

(1, 2, ('pop', 'dubstep'), (3, 4), ('Rock', (1, 2)))

In [23]:
#imprimimos cada valor de la tupla


print("Elemento 0 de Tupla: ", tuplaAni[0])
print("Elemento 1 de Tupla: ", tuplaAni[1])
print("Elementp 2 de Tupla: ", tuplaAni[2])
print("Elemento 3 de Tupla: ", tuplaAni[3])
print("Elemento 4 de Tupla: ", tuplaAni[4])

Elemento 0 de Tupla:  1
Elemento 1 de Tupla:  2
Elementp 2 de Tupla:  ('pop', 'dubstep')
Elemento 3 de Tupla:  (3, 4)
Elemento 4 de Tupla:  ('Rock', (1, 2))

In [24]:

print("Elemento 2, 0 de Tupla: ",   tuplaAni[2][0])
print("Elemento 2, 1 de Tupla: ",   tuplaAni[2][1])
print("Elemento 3, 0 de Tupla: ",   tuplaAni[3][0])
print("Elemento 3, 1 de Tupla: ",   tuplaAni[3][1])
print("Elemento 4, 0 de Tupla: ",   tuplaAni[4][0])
print("Elemento 4, 1 de Tupla: ",   tuplaAni[4][1])

Elemento 2, 0 de Tupla:  pop
Elemento 2, 1 de Tupla:  dubstep
Elemento 3, 0 de Tupla:  3
Elemento 3, 1 de Tupla:  4
Elemento 4, 0 de Tupla:  Rock
Elemento 4, 1 de Tupla:  (1, 2)

Podemos acceder a cadenas en las segundas tuplas anidadas usando un tercer índice:

In [25]:

tuplaAni[2][1][0]

'd'