<h1>Python - Introduccion.</h1>


<h2>Table de Contenido</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>
            <a href="#hola">Hola Mundo en Python</a>
            <ul>
                <li><a href="version">Que version estamos usadno?</a></li>
                <li><a href="comentarios">Escribiendo Comentarios En Python</a></li>
                <li><a href="errores">Errores en Python</a></li>
                <li><a href="python_error">¿Python conoce nuestro error antes de ejecutar el código?</a></li>
                <li><a href="ejercicio">Nuestro primer programa</a></li>
            </ul>
        </li>
        <li>
            <a href="#tipos_objetos">Tipos de objetos en Python</a>
            <ul>
                <li><a href="int">Enteros</a></li>
                <li><a href="float">Flotantes</a></li>
                <li><a href="convertir">Convertir un tipo de objeto a otro</a></li>
                <li><a href="bool">Tipos de datos Booleanos</a></li>
                <li><a href="ej:tipo">Ejercicio</a></li>
            </ul>
        </li>
        <li>
            <a href="#expresiones">Expresiones & Variables</a>
            <ul>
                <li><a href="exp">Expresiones</a></li>
                <li><a href="ej_exp">Ejercicio: Expresiones</a></li>
                <li><a href="var">Variables</a></li>
                <li><a href="ejer_exp_var">Ejerccios:Expresiones & variables en python.</a></li>
            </ul>
        </li>
    
</div>

<hr>

In [2]:
#Con la funcion print imprimimos nuestro primer hola mundo.
print('Hola, Universo!')

Hola, Universo!

Después de ejecutar la celda anterior, deberíamos ver que Python imprime <code> ¡Hola, Universo! </code>. 
<hr />
<div class = "alert alert-success alertuccess" style = "margin-top: 20px">
     [Sugerencia:] <code> print () </code> es una función. Pasó la cadena <code> 'Hola, Universo!' </code> como argumento para instruir a Python sobre qué imprimir.
</div>
<hr />

<h3 id="version">Que version de python estamos usando?</h3>

<p>
     Hoy se utilizan dos versiones populares del lenguaje de programación Python:

Python 2 y Python 3. La comunidad de Python ha decidido pasar de Python 2 a Python 3, y muchas bibliotecas populares han anunciado que ya no admitirán Python 2.
</p>
<p>
     Dado que Python 3 es el futuro, en este minicurso lo usaremos exclusivamente. ¿Cómo sabemos que nuestra Compu es ejecutado por un tiempo de ejecución Python 3? 
</p>
<p>
     Podemos preguntar directamente a Python y obtener una respuesta detallada. Intenta ejecutar el siguiente código:
</p>

In [4]:
#Checamos la version de python
import sys
print(sys.version)

3.6.9 (default, Nov  7 2019, 10:44:02)
[GCC 8.3.0]

<hr />
<div class = "alert alert-success alertuccess" style = "margin-top: 20px">
     [Sugerencia:] 

<code> sys </code> es un módulo integrado que contiene muchos parámetros y funciones específicos del sistema, incluida la versión de Python en uso. Antes de usarlo, debemos explícitamente <code> import </code>.
</div>
<hr />

<h3 id="comentarios">Escribiendo comentarios en Python</h3>

<p>
     Además de escribir código, tengamos en cuenta que siempre es una buena idea agregar comentarios a nuestro código. Ayudará a otros a comprender lo que estabamos tratando de lograr (la razón por la que escribió un fragmento de código dado). Esto no solo ayuda a <strong> otras personas </strong> a comprender su código, sino que también puede servirle como recordatorio <strong> para ti </strong> cuando vuelvas a utilizarlo semanas o meses después. </p>

<p>
     Para escribir comentarios en Python, usamos el símbolo numérico <code> # </code> antes de escribir su comentario. Cuando ejecuta su código, Python ignorará todo lo que pase el <code> # </code> en una línea determinada.
</p>

In [6]:
#Este es mi segundo comentario
#print(Esta linea no se ejecuta)
print("Seccion de comentarios, :D.")

Seccion de comentarios, :D.

<p>
     Después de ejecutar la celda anterior, debe notar que <code> Este es mi segundo comentario </code> no apareció en la salida, porque era un comentario (y Python lo ignoraba).
</p>
<p>
     ¡La segunda línea tampoco se ejecutó porque <code> print(Esta linea no se ejecuta) </code> fue precedido por el signo de número (<code> # </code>) también! Como este no es un comentario explicativo del programador, sino una línea de código real, podríamos decir que  <em> comentamos </em> esa segunda línea de código.
</p>

<h3 id="errores">Errores en Python</h3>
<p>Todos cometemos errores al momento de programar.  Si cometes un error python te lo mostrara al momento de ejecutar el codigo, es importante leer el error que nos muestra python, para saber en que estamos fallando y poder corregirlo.</p>
<p>Por ejemplo si nosotros escribimos <code>print</code> como <code>srint</code>, Python mostrara un error en la pantalla, intentemoslo:</p>

In [9]:
srint("hola")

NameError: ignored

<p>Este error nos muestra: 
<ol>
    <li> donde ocurrió el error (más útil en celdas o scripts de notebook     grandes) y </li>
     <li> qué tipo de error fue (NameError)</li>
</ol>
<p>Python intento correr la funcion <code>srint</code>, pero no pudo determinar que <code>srint</code> es porque no es una función incorporada y tampoco ha sido definida previamente por nosotros.</p>

<p>
     Notarás que si cometemos un tipo diferente de error, al olvidar cerrar la cadena, obtendremos un error diferente (es decir, un <code> SyntaxError </code>). Pruébalo a continuación:
</p>

In [10]:
# Veamos el error que hay

print("Hello, Python!)

SyntaxError: ignored

<h3 id = "python_error"> ¿Python conoce nuestro error antes de ejecutar su código? </h3>

Python es lo que se llama un <em> lenguaje interpretado </em>. Los lenguajes compilados examinan todo su programa en el momento de la compilación y pueden advertirnos sobre toda una clase de errores antes de la ejecución. En contraste, Python interpreta nuestro script línea por línea a medida que lo ejecuta. Python dejará de ejecutar todo el programa cuando encuentre un error (a menos que el programador espere y maneje el error, un tema más avanzado que cubriremos más adelante en este curso).

Ejecuetmos el codigo y veamos que pasa.

In [11]:
print("حاول تشغيل التعليمات البرمجية في الخلية أدناه ومعرفة ما يحدث:")
print("Intentemos ejecutar el codigo y veamos que pasa)
print("嘗試在下面的單元格中運行代碼，看看會發生什麼：")

SyntaxError: ignored

Podemos ver que python nos indica donde esta el error para asi corregirlo , nuestro codigo quedaria asi:

In [12]:
print("حاول تشغيل التعليمات البرمجية في الخلية أدناه ومعرفة ما يحدث:")
print("Intentemos ejecutar el codigo y veamos que pasa")
print("嘗試在下面的單元格中運行代碼，看看會發生什麼：")

حاول تشغيل التعليمات البرمجية في الخلية أدناه ومعرفة ما يحدث:
Intentemos ejecutar el codigo y veamos que pasa
嘗試在下面的單元格中運行代碼，看看會發生什麼：

<h3 id="ejercicio">Nuestro primer programa</h3>

<p>Generaciones de programadores al empezar un len guaje de programacion inician con el famoso "Hola mundo", ahora nos toca a nosotros.</p>
<p>En el codigo de celda, usemos <code>print()</code> para imprimir la frase: <code>Hola, mundo!</code></p>

In [0]:
#Escribe aqui tu primer linea de codigo.

Doble-click __aqui__ para ver la solucion.

<!-- Tu respuesta es esta::

print("Hola, mundo")

-->

<p> Ahora, mejoremos su código con un comentario. En la celda de código a continuación, imprima la frase: <code> ¡Hola, mundo! </code> y coméntalo con la frase <code> Imprima el tradicional hola mundo </code> todo en una línea de código. </ P >

In [0]:
#Escribe aqui tu respuesta

Doble-click __aqui__ para ver la solucion.

<!-- Tu respuesta es esta::

print("Hola, mundo")Imprima el tradicional hola mundo

-->

<hr>

<h2 id="tipos_datos" align="center">Tipos de objetos en Python</h2>

<p> Python es un lenguaje orientado a objetos. Hay muchos tipos diferentes de objetos en Python. Comencemos con los tipos de objetos más comunes: <i> cadenas </i>, <i> enteros </i> y <i> flotantes </i>. Cada vez que escribe palabras (texto) en Python, está utilizando <i> cadenas de caracteres </i> (cadenas para abreviar). Los números más comunes, por otro lado, son <i> enteros </i> (por ejemplo, -1, 0, 100) y <i> flotantes </i>, que representan números reales (por ejemplo, 3.14, -42.0). </p>

**Veamos algunos ejemplos**

In [0]:
#Entero-Int
10
#Flotantes-Float
10.20
#String-Cadenas de caracteres
"Bienvendio"

<p> Podemos hacer que Python nos diga el tipo de expresión utilizando la función incorporada <code> type () </code>. Notarás que Python se refiere a los enteros como <code> int </code>, flotantes como <code> float </code> y las cadenas de caracteres como <code> str </code>. </p>

In [16]:
#tipo 10
type(10)

str

In [17]:
#tipo 10.42343
type(10.42343)

float

In [18]:
#tipo "Esta es una cadena de caracteres"
type("Esta es una cadena de caracteres,33829")

str

<h3 id="int">Enteros</h3>

Aqui algunos tipos de enteros.

<a align="center">
    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2F42%2Fa3%2F04%2F42a30433e6ed7eecbb71758f3acbb62e.png&f=1&nofb=1" width="600">
</a>

<p>Podemos verificar que es cierto con la funcion <code>type()</code> funcion:

In [19]:
type(-3)

int

In [20]:
type(-2)

int

In [21]:
type(-1)

int

In [22]:
type(1)

int

In [23]:
type(2)

int

In [24]:
type(3)

int

<h3 id="float">Flotantes</h3>

<p> Los flotantes representan números reales; son un superconjunto de números enteros pero también incluyen "números con decimales". Existen algunas limitaciones cuando se trata de máquinas que representan números reales, pero los números de coma flotante son una buena representación en la mayoría de los casos. Puedes obtener más información sobre los detalles de los flotadores para tu entorno de tiempo de ejecución, verificando el valor de <code> sys.float_info </code>. Esto también le dirá cuál es el número más grande y más pequeño que se puede representar con ellos. </p>

<p> Una vez más, puede probar algunos ejemplos con la función <code> type () </code>:

In [26]:
type(12.4)

float

In [27]:
type(-232.4)

float

In [28]:
type(1.1)

float

In [30]:
# Configuración del sistema sobre el tipo de objeto float
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

<h3 id="convertir">Convertir un tipo de objeto a otro</h3>

<p> Puedes cambiar el tipo de objeto en Python; Esto se llama encasillamiento. Por ejemplo, puede convertir un <i> entero </i> en un <i> flotante </i> (por ejemplo, 2 a 2.0). </p>
<p> Probémoslo: </p>

In [31]:
# Convertimos 2 a float

float(2)

2.0

In [32]:
# Convertimos de entero a flotante y consultamos el tipo de dato

type(float(2))

float

<p> Cuando convertimos un número entero en un flotante, realmente no cambiamos el valor (es decir, el significado) del número. Sin embargo, si lanzamos un flotante a un entero, podríamos perder algo de información. Por ejemplo, si lanzamos el flotante 1.1 a entero obtendremos 1 y perderemos la información decimal (es decir, 0.1): </p>

In [33]:
# Veamos el siguiente ejemplo

int(1.1)

1

<h4>Convertir de strings a flotantes o enteros</h4>

<p> A veces, podemos tener una cadena que contiene un número dentro de ella. Si este es el caso, podemos convertir esa cadena que representa un número en un entero usando <code> int () </code>: </p>

In [34]:
#Convertimos de string a tipo entero

int('1')

1

<p> Pero si intentas hacerlo con una cadena que no coincide perfectamente con un número, obtendrás un error. Prueba lo siguiente: </p>

In [35]:
int('1 manzana 2 peras')

ValueError: ignored

<p> También puede convertir cadenas que contienen números de coma flotante en objetos <i> float </i>: </p>

In [36]:
float('20.5')

20.5

 <hr />
<div class = "alert alert-success alertuccess" style = "margin-top: 20px">
     [Sugerencia:] Ten en cuenta que las cadenas se pueden representar con comillas simples (<code> '1.2' </code>) o comillas dobles (<code> "1.2" </code>), pero no puede mezclar ambas (p. Ej. , <code> "1.2 '</code>).
</div>
<hr />

<h4>Conviritendo numeros a strings</h4>

<p> Si podemos convertir cadenas en números, es natural suponer que podemos convertir números en cadenas, ¿verdad? </p>

In [37]:
str(1)

'1'

In [38]:
str(1.34)

'1.34'

<h3 id="bool">Tipos de objetos Booleanos</h3>

<p> <i> Booleano </i> es otro tipo importante en Python. Un objeto de tipo <i> Booleano </i> puede tomar uno de dos valores: <code> True </code> o <code> False </code>: </p>

In [39]:
True

True

<p> Observa que el valor <code> True </code> tiene una "T" mayúscula. Lo mismo es cierto para <code> False </code> (es decir, debe usar la "F" mayúscula). </p>

In [40]:
False

False

Consultemos el tipo de objeto al cual pertenecen.

In [41]:
type(True)

bool

In [42]:
type(False)

bool

<p> Podemos convertir objetos booleanos a otros tipos de datos. Si lanzamos un valor booleano con un valor de <code> True </code> a un entero o flotante, obtendremos uno. Si lanzamos un booleano con un valor de <code> False </code> a un entero o flotante, obtendremos un cero. Del mismo modo, si lanzamos un 1 a un booleano, obtendrá un <code> True </code>. Y si lanzamos un 0 a un booleano, obtendremos un <code> False </code>. Vamos a intentarlo: </p>

In [43]:

int(True)

1

In [44]:
bool(1)

True

In [45]:
int(False)

0

In [46]:
bool(0)

False

<h3 id="ej:tipo">Ejercicio</h3>

<p>Que tipo de dato resulta de: <code>6 / 2</code>?</p>

In [0]:
# Escriba su código a continuación. No olvides presionar Shift + Enter para ejecutar la celda

Doble-click __aqui__ para ver la solucion.

<!-- Tu respuesta es esta::
type(6/2) # float
-->

<p> ¿Cuál es el tipo de resultado de: <code> 6 // 2 </code>? (Tenga en cuenta la barra doble <code> // </code>.) </p>

In [0]:
#Escribe aqui tu solucion

Doble-click __aqui__ para ver la solucion.

<!-- Tu respuesta es esta::
type(6//2) # Int
-->

<hr>

<h2 id="expresiones">Expresiones & Variables</h2>

<p> Las expresiones en Python pueden incluir operaciones entre tipos compatibles (por ejemplo, enteros y flotantes). Por ejemplo, operaciones aritméticas básicas como agregar múltiples números: </p>

In [50]:
20+30+23.5+34

107.5

<p> Podemos realizar operaciones de resta usando el operador menos. En este caso, el resultado es un número negativo: </p>

In [51]:
50-90

-40

Podemos realizar operaciones de multipliacion usando el operador *

In [52]:
20*100

2000

Podemos usar el operador de division / para hacer divisiones

In [53]:
10/2

5.0

In [54]:
1000/.2

5000.0

<p> Como se ve en la prueba anterior, podemos usar la barra doble para la división de enteros, donde el resultado se redondea al entero más cercano:

In [55]:
24//8

3

In [56]:
24//7

3

In [57]:
36//9

4

In [58]:
36//7

5

<h3 id="ej_exp">Ejercicio: Expresiones</h3>

<p> Escribamos una expresión que calcule cuántas horas hay en 160 minutos:

In [0]:
#Escribe aqui tu solucion

Doble-click __aqui__ para ver la solucion.

<!-- Tu respuesta es sta:
160/60 
# O
160//60
-->

<h3 id="var">Variables</h3>

<p> Al igual que con la mayoría de los lenguajes de programación, podemos almacenar valores en <i> variables </i>, para poder usarlos más adelante. Por ejemplo: </p>

In [0]:
#Almacenamos la suma en la variable x
x = 10+20+30+40+50

<p> Para ver el valor de <code> x </code> en tu cuaderno, simplemente poduedes colocarlo en la última línea de una celda: </p>

In [62]:
#Vemos el valor de x
x

150

<p> También podemos realizar operaciones en <code> x </code> y guardar el resultado en una nueva variable: </p>

In [63]:
w = x*10
w

1500

<p> Si guardamos un valor en una variable existente, el nuevo valor sobrescribirá el valor anterior: </p>

In [64]:
x = x/2
x

75.0

<p> Es una buena práctica usar nombres de variables significativos, para que usted y otros puedan leer el código y comprenderlo más fácilmente: </p>

In [72]:
edad = 20
edad

20

In [73]:
total_edad =  edad+1
total_edad

21

Complicaremos un poco las expresiones.

In [77]:
peras = 20
costo_peras = 2
melon = 80
costo_melon = 5
peras_total = peras * costo_peras
melon_total = melon*costo_melon
costo_final = peras_total * melon_total
print(costo_final)

16000

<h3 id="eje_exp_varr">Ejercicios: Expresiones & variables en python.</h3>

<p>Cual es el valor <code>x</code> cuando <code>x = 3 + 2 * 2</code></p>

In [0]:
#Escribe tu respuesta aqui

Doble-click __aqui__ para ver la solucion.

<!-- Tu respuesta deberia de ser esta:
7
-->

<p>Cual es el valor <code>y</code> cuando <code>y = (3 + 2) * 2</code>?</p>

In [0]:
#Escribe tu solucion aqui

Doble-click __aqui__ para ver la solucioon.

<!-- Tu respuesta deberia ser esta:

10
-->