# Segunds parte Data Cleaning.

En esta sección veremos problemas con el texto y con datos categóricos,en esta parte espcificamente veremos variables categóricas.

Recordemos que los datos categóricos representan variables que representan un conjunto finito predefinido de categorias.

Ejmplos de estos, podrian ser estado civil, ingresos del hogar, estado de un préstamo entre otros.

Para ejecutar modelos de Machine Learning , amenudo se usan datos categóricos que se codifican como numeros.

Dado que los datos categóricos representan un conjunto predefinido de categorias, no pueden tener valores que vayan más allá de esas categorias predefinidas.

### ¿Cuándo podriamos tener problemas?

Podemos tener inconsistencias en nuetros datos categóricos por una variedad de razones.Esto podría deverse a problemas de entrada de datos con texto libre vs campos desplegables, errores de análisis de datos entre otros.

Hay una variedad de formas en las que podemos tratar esto,con soluciones cada vez más espeificas para diferentes tipos de inconsistencias.

Simplemente, podemos soltar las filas con categorías incorrectas o podriamos intentar reasignar categorías incorrectas para corregirlas entre otros métodos.

Antes de tratar con valores inconsistentes , tengamos un breve recordatorio de uniones, los dos tipos principales de uniones que nos interesan aqui son la antiunion y la union interna.


Unimos DataFrames en columnas comunes entre ellos, por lo que una antiunion toma doas DataFrame A & B y devuelve los datos de un DataFrame que no esta contenido en el otro dataframe.


En esta imagen estamos realizando una antiunion de A & B y estamos devolviendo las columnas de los DataFrames para valores que solo estan en la columna de A común entre los que se unen.

**"Lo que hay en A y no en B"**

![Antiunion](https://i.imgur.com/p5SKiOI.png)


Los Inner Join o Uniones internas devuelve solo los datos contenidos en ambos DataFrames

![Inner Join](https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.4qKmiCic7MjCEaJI8k2dxgHaEc%26pid%3DApi&f=1)

Por ejemplo , una unión interna de A & B devlveria las columnas de ambos DataFrames para valores que solo se encuentren en A & B, de la columna común entre ellos.

## Código a utilizar:

* `set()` - Esta función crea un objeto de un conjunto , los elementos de una lista de conjuntos estan desordenados , por que apareceran en orden aleatorio.

In [2]:
x = set(('apple', 'banana', 'cherry'))
x

{'apple', 'banana', 'cherry'}

* `difference()` - Este método devuelve la diferencia de conjuntos de dos conjuntos. 

Aqui un ejemplo:

Sean `A` & `B` dos conjuntos, la diferencia de `A` & `B` es el conjunto de elementos que existen en A pero no en B , por ejemplo:

In [7]:
# Inicializar valores

A = {1,2,3,56,7}
B ={7,3,8,56,34}

# Los numeros que solo estan en A pero no en B
A.difference(B)
# Los numeros que estan en B pero no en A
B.difference(A)

{8, 34}

* `.isin()`- El método pandas `isin()` se utiliza para **filtrar marcos de datos**. El método isin () ayuda a seleccionar filas con un valor particular (o múltiple) en una columna en particular.

En el siguiente ejemplo, se comprueban las filas y se devuelve una serie booleana que es Verdadero siempre que Género = ”Hombre”. Luego, la serie se pasa al marco de datos para ver un nuevo marco de datos filtrado.

In [8]:
import pandas as pd

data = pd.read_csv("/content/employees.csv")

data.head()

  First Name  Gender Start Date  ... Bonus %  Senior Management             Team
0    Douglas    Male   8/6/1993  ...   6.945               True        Marketing
1     Thomas    Male  3/31/1996  ...   4.170               True              NaN
2      Maria  Female  4/23/1993  ...  11.858              False          Finance
3      Jerry    Male   3/4/2005  ...   9.340               True          Finance
4      Larry    Male  1/24/1998  ...   1.389               True  Client Services

[5 rows x 8 columns]

En este caso queremos ver que en la columna Gender se ubican todas las mujeres.

In [11]:
new_data = data["Gender"].isin(["Male"])
new_data

0       True
1       True
2      False
3       True
4       True
       ...
995    False
996     True
997     True
998     True
999     True
Name: Gender, Length: 1000, dtype: bool

* `unique()` - Al analizar los datos, muchas veces queremos ver los valores unios en una columna en particulas  lo que se puede hacer usando la función `unique()`.

## Encontrando consistencias.

En estos ejemplos usaremos el DataFrame de las aeroilneas de SanFrancisco , que contiene respuestas de encuestas sobre el aeropuerto de San Francisco de clientes de aerolineas.

El dataFrame contiene metadatos de vuelo, como la aerolinea, el destino, los tiempos de espera, así omo respuestas a preguntas clave sobre limpieza, satisfacción.También creamos otro DataFrame, que contiene todos los valores posibles correctos para ls columnas de la encuesta.

In [20]:
# DataFrame principal
airlines = pd.read_csv("/content/airlines_final.csv")
airlines.head()

   Unnamed: 0    id  ...         safety        satisfaction
0           0  1351  ...        Neutral      Very satisfied
1           1   373  ...      Very safe      Very satisfied
2           2  2820  ...  Somewhat safe             Neutral
3           3  1157  ...      Very safe  Somewhat satsified
4           4  2992  ...      Very safe  Somewhat satsified

[5 rows x 13 columns]

In [21]:
# DataFrame Secundario
category = airlines.loc[:,["cleanliness","safety","satisfaction"]]
category.head()

      cleanliness         safety        satisfaction
0           Clean        Neutral      Very satisfied
1           Clean      Very safe      Very satisfied
2         Average  Somewhat safe             Neutral
3           Clean      Very safe  Somewhat satsified
4  Somewhat clean      Very safe  Somewhat satsified

En este ejercicio, usaremos ambos DataFrames para encontrar respuestas de encuestas con valores inconsistentes y eliminarlas, realizando de manera efectiva una combinación externa e interna en ambos DataFrames .

In [22]:
# Imprimir valores únicos de columnas de encuestas en aerolíneas

print('Cleanliness',airlines['cleanliness'].unique(),"\n")

Cleanliness ['Clean' 'Average' 'Somewhat clean' 'Somewhat dirty' 'Dirty']

In [23]:
print("Safety",airlines["safety"].unique(),"\n")

Safety ['Neutral' 'Very safe' 'Somewhat safe' 'Very unsafe' 'Somewhat unsafe']

In [26]:
print("Satisfaction",airlines["satisfaction"].unique(),"\n")

Satisfaction ['Very satisfied' 'Neutral' 'Somewhat satsified' 'Somewhat unsatisfied'
 'Very unsatisfied']

En este ejercicio, usaremos ambos DataFrames para encontrar respuestas de encuestas con valores inconsistentes y eliminarlas, realizando de manera efectiva una combinación externa e interna en ambos DataFrames.

In [40]:
# Buscar categroai de limpieza que este en el dataframe aerlines y no en category

cat_clean = set(airlines["cleanliness"]).difference(category["cleanliness"])

# Hallar filas que esten en category

cat_clean_rows = airlines["cleanliness"].isin(cat_clean)

# Imprimir las filas con una categoria incosistente

print(airlines[cat_clean_rows])

Empty DataFrame
Columns: [Unnamed: 0, id, day, airline, destination, dest_region, dest_size, boarding_area, dept_time, wait_min, cleanliness, safety, satisfaction]
Index: []

Para eliminar las filas inconsistener y mantener las que solo son consistentes solo usamos el simbolo de tile , lo que devuelve todo excepto las filas inconsistenes.

In [44]:
print(airlines[~cat_clean_rows])

      Unnamed: 0    id  ...         safety        satisfaction
0              0  1351  ...        Neutral      Very satisfied
1              1   373  ...      Very safe      Very satisfied
2              2  2820  ...  Somewhat safe             Neutral
3              3  1157  ...      Very safe  Somewhat satsified
4              4  2992  ...      Very safe  Somewhat satsified
...          ...   ...  ...            ...                 ...
2472        2804  1475  ...        Neutral  Somewhat satsified
2473        2805  2222  ...      Very safe      Very satisfied
2474        2806  2684  ...      Very safe      Very satisfied
2475        2807  2549  ...  Somewhat safe      Very satisfied
2476        2808  2162  ...      Very safe  Somewhat satsified

[2477 rows x 13 columns]