# Variables Categoricas

En esta sección analizaremos otros tipos de problemas que podrían afectar las variables categóricas.Anteriormente vimos cómo los datos categoricos tienen un valor de restriccion, donde las columnas deben tener un conjunto predefinido de valores.


Sin embargo , este no es el único conjunto de problems que podemos encontrar, al limpiar datos categóricos, algunos de los problemas que podemos encontrar incluyen inconsistencia de valores, presencia de demasiadas categorias que podrian colapsarse en una sola y asegurarnos de que los datos sean del tipo correcto.

Comencemos por asegurarnos de que nuestros datos categoricos sean consistentes, un problema común de datos categóricos es tener valores que difieren ligeramente debido a la capitalización.

* `married`,`Married`,`UNMARRIED`,`unmarried`

No tratar con esto podría conducir a resultados engañosos cuando decidimos analizar nuestros datos.

## CODIGO A UTILIZAR:

* `value_counts()` - En pandas, para una columna en un DataFrame, podemos usar el método value_counts () para contar fácilmente las ocurrencias únicas de valores. También hay análisis interesantes adicionales que podemos hacer con value_counts ().Estos solo funcionana en Series de Pandas.

* `groupby()` - La función se utiliza para dividir los datos en grupos según algunos criterios. Los objetos pandas se pueden dividir en cualquiera de sus ejes. La definición abstracta de agrupación es proporcionar una asignación de etiquetas a nombres de grupos.

* `-count()` - Es usado para contar el numero de valores Nan a lo largo del ee dado.

* `str-upper()` - Convierte todos los valores  a mayusculas.


* `str_lower` - Convierte todos los valores a minusuclas.

* `str.strip()` - Es una funcion que devuelve una copia de la cadena con los caracteres inicales y finales elminados,eneste caso la usaremos para elminar los espacios en blanco de un DataFrame.

* `pd.qcut`Divide automaticamente nuestros datos basado en la distribucion de categoricas que establecemos en el argumento `q` , 'labels= column'


*  `cut` - La función se usa para separar los elementos de la matriz en diferentes contenedores. La función de corte se utiliza principalmente para realizar análisis estadísticos en datos escalares.

EJEMPLO:

In [ ]:
string = """  Chilangdon is great  """

# Imprimir string con espacios
print(string)
# Imprimir string sin espacios 
print(string.strip())
# Imprimir string removiendo Chilangdon
print(string.strip(' Chilangdon'))

  Chilangdon is great
Chilangdon is great
s great

A veces podemos crear categorias de nuestros datos, como la creación de grupos de ingresos familiares a partir de sus datos de ingresos economicos.

Categorias de mapeo a menos categorias.

Supongamos que tenemos una columna que contiene el sisterma operativo de diferentes dipositivos y contiene esos valores unicos.
`Microsoft`,`MacOS`,`IOS`,`Linux`,`Android`
Digamos que queremos agrupar esto en 2 categroias `DesktopOS`  & `MobileOS`

Podemos hacer esto usando el método `replace`.

In [ ]:
# Crear un diccionario con los valorea a reemplazar

mapeo = {'Microfost':'DesktopOS','MacOS':'DesktopOS',
         'Linux':'DesktopOS','IOS':'MobileOS','Android':'MobileOs'}

equipos['sistema_operativo'] = equipos['sistema_operativo'].replace(mapeo)

equiops['sistema_operativo'].unique()

A continuación haremos algunos ejemplos practicos:


* El DataFrame contiene metadatos de vuelo, como la aerolínea, el destino, los tiempos de espera, así como respuestas a preguntas clave sobre limpieza, seguridad y satisfacción en el aeropuerto de San Francisco.


En este ejercicio, examinaremos dos columnas categóricas de este * DataFrame, `dest_region` y `dest_size` respectivamente, evaluaremos cómo abordarlas y nos aseguraremos de que estén limpias y listas para el análisis.

In [1]:
import pandas as pd


airlines = pd.read_csv("/content/airlines_final.csv")

# Imprimir la región de destino de los vuelos
print(airlines['dest_region'].unique())

['Asia' 'Canada/Mexico' 'West US' 'East US' 'Midwest US' 'EAST US'
 'Middle East' 'Europe' 'eur' 'Central/South America'
 'Australia/New Zealand' 'middle east']

In [ ]:
# imprimir la region de tamaño del equipaje
print(airlines['dest_size'].unique())

['Hub' 'Small' '    Hub' 'Medium' 'Large' 'Hub     ' '    Small'
 'Medium     ' '    Medium' 'Small     ' '    Large' 'Large     ']

Al observar el resultado, ¿cuál crees que es el problema con estas columnas?

Podemos observar que la columna `dest_region` , tiene valores inconsistentes devido a las mAyusculas u tiene un vlor que necesita ser reasignado.

Tambien la columna `dest_size` tiene valores inconsistentes debido  s los espacios iniciales y finales.

Veamos como podemos solucionar estos problemas:

Empecemos las letras mayusculas de la columna `dest_region`.

In [3]:
# convertimos todos los valores a minusculas
airlines["dest_region"] = airlines["dest_region"].str.lower()
print(airlines['dest_region'].unique())

['asia' 'canada/mexico' 'west us' 'east us' 'midwest us' 'middle east'
 'europe' 'eur' 'central/south america' 'australia/new zealand']

In [4]:
# eliminar espacios

dest_region = airlines["dest_region"].str.strip()
print(airlines['dest_region'].unique())

['asia' 'canada/mexico' 'west us' 'east us' 'midwest us' 'middle east'
 'europe' 'eur' 'central/south america' 'australia/new zealand']

## Variables inconsistentes.

Ahora examinaremos dos columnas categóricas de este DataFrame, dest_region y dest_size respectivamente, evaluaremos cómo abordarlas y nos aseguraremos de que estén limpias y listas para el análisis.

In [5]:
# Imprimir valores únicos de ambas columnas
print(airlines['dest_region'].unique())
print(airlines['dest_size'].unique())

['asia' 'canada/mexico' 'west us' 'east us' 'midwest us' 'middle east'
 'europe' 'eur' 'central/south america' 'australia/new zealand']
['Hub' 'Small' '    Hub' 'Medium' 'Large' 'Hub     ' '    Small'
 'Medium     ' '    Medium' 'Small     ' '    Large' 'Large     ']

In [6]:
# minuscula la columna dest_region y luego reemplaza "eur" por "europa"

airlines['dest_region'] = airlines['dest_region'].str.lower() 
airlines['dest_region'] = airlines['dest_region'].replace({'eur':'europe'})

Ahora examinaremos las columnas categóricas `dest_region` & `dest_size` , y veremos si necesitan algun tipo de limpieza pra despues analizarlas.

In [7]:
# eliminamos los espacios de dest_size

airlines['dest_size'] = airlines['dest_size'].str.strip()

In [9]:
# Verificamos que los datos esten correctamente implementados.
print(airlines['dest_region'].unique())
print(airlines['dest_size'].unique())

['asia' 'canada/mexico' 'west us' 'east us' 'midwest us' 'middle east'
 'europe' 'central/south america' 'australia/new zealand']
['Hub' 'Small' 'Medium' 'Large']

## Reasignación de categorías.

Para comprender mejor a los encuestados de las aerolíneas, deseamos averiguar si existe una relación entre ciertas respuestas y el día de la semana y el tiempo de espera en la puerta de embarque.

El DataFrame de la aerolínea contiene las columnas day y wait_min, que son categóricas y numéricas respectivamente. La columna del día contiene el día exacto en que se realizó un vuelo y wait_min contiene la cantidad de minutos que los viajeros tardaron en esperar en la puerta. Para facilitar su análisis, deseamos crear dos nuevas variables categóricas:

* wait_type: 'corto' para 0-60 min, 'medio' para 60-180 y largo para 180+

* day_week: 'weekday' si el día está en el día de la semana, 'weekend' si el día está en el fin de semana.

### PASOS:


1.   Crear los rangos y etiquetas para la columna `wit_type`
2.   Crear la columna wait_type desde wait_min usando pd.cut (), mientras ingresamos label_ranges y label_names en los argumentos correctos.

3. Crear el diccionario de mapeo que asignar los días de la semana a "días de la semana" y los días de fin de semana a "fines de semana".

4. Crear la columna day_week usando .replace ().

In [14]:
import numpy as np

# Crear rangos de categorias
label_ranges = [0, 60, 180, np.inf]
label_names = ['short', 'medium', 'long']

# Crear columna wait_type
airlines['wait_type'] = pd.cut(airlines['wait_min'], bins = label_ranges, 
                               labels = label_names)

# Crear asignaciones y reemplazar
mappings = {'Monday':'weekday', 'Tuesday':'weekday', 'Wednesday': 'weekday', 
            'Thursday': 'weekday', 'Friday': 'weekday', 
            'Saturday': 'weekend', 'Sunday': 'weekend'}

airlines['day_week'] = airlines['day'].replace(mappings)

airlines.head()

   Unnamed: 0    id        day  ...        satisfaction wait_type day_week
0           0  1351    Tuesday  ...      Very satisfied    medium  weekday
1           1   373     Friday  ...      Very satisfied    medium  weekday
2           2  2820   Thursday  ...             Neutral    medium  weekday
3           3  1157    Tuesday  ...  Somewhat satsified      long  weekday
4           4  2992  Wednesday  ...  Somewhat satsified      long  weekday

[5 rows x 15 columns]